/*PortfolioPage:*/
.prfP {
    animation: fadeIn 0.3s;
    background-color: black;
    width: 100%;
    border-radius: 2px;
    box-shadow:
        0 0 30px 20px black,
        inset 0 0 30px 20px black;

    .portfolioPageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .breadcrumb {
            background-color: lightgreen;
            height: 30px;
            overflow: hidden;
            border-bottom: 1px solid #03a062;
            display: flex;

            .breadcrumbLogo {
                background-image: url("/src/Assets/Images/Projects.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 70%;
                height: 100%;
                width: 3%;
            }

            .breadcrumbText {
                height: 100%;
                width: 97%;
                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 10px;

                h2 {
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Courier New", Courier, monospace;
                    cursor: default;

                    span {
                        transition: filter 300ms;
                        transition: background-color 500ms ease-in-out;
                    }

                    span:hover {
                        color: green;
                        filter: drop-shadow(0 0 2em #03a062);
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*PortfolioPageAdmin:*/
.portfolioPageContainerAdmin {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumb {
        background-color: lightgreen;
        height: 30px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;

        h2 {
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 20px;
            left: 10px;
            cursor: default;

            span {
                transition: filter 300ms;
                transition: background-color 500ms ease-in-out;
            }

            span:hover {
                color: green;
                filter: drop-shadow(0 0 2em #03a062);
            }
        }
    }
}

/*Both:*/
.main {
    background-color: #111;
    min-height: 580px;
    max-width: 1244px;
    width: 100%;
    border: 0.1px solid grey;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 30px 5px #03a062;
    overflow: hidden;

    .firstSection {
        background-image: url("/src/Assets/Images/PortfolioFirstSectionBG.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 600px;
        width: 100%;
        box-shadow: inset 0 0 30px 20px black;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .firstSectionTitle {
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 100px;
                background: linear-gradient(to right, green, lightgreen, #03a062, green, lightgreen);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                letter-spacing: -3px;
                transition: 700ms ease;
                font-variation-settings: "wght" 311;
                outline: none;
                margin-bottom: 0.8rem;
                text-align: center;
                animation: hover-effect 5s infinite;
                cursor: default;
            }
        }

        @keyframes hover-effect {
            0% {
                font-variation-settings: "wght" 582;
                letter-spacing: -2px;
            }
            50% {
                font-variation-settings: "wght" 400;
                letter-spacing: -3px;
            }
            100% {
                font-variation-settings: "wght" 582;
                letter-spacing: -2px;
            }
        }

        .firstSectionContent {
            height: 500px;
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            margin-left: 280px;

            .firstSectionBox {
                height: 300px;
                width: 600px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;

                .firstSectionImg {
                    background-image: url("/src/Assets/Images/Photo.jpeg");
                    background-repeat: no-repeat;
                    background-position: 50% 20%;
                    background-size: cover;
                    height: 230px;
                    width: 230px;
                    border: 3px solid #03a062;
                    border-radius: 100%;
                    filter: drop-shadow(0 0 2em #03a062);
                }

                .firstSectionInfo {
                    height: 280px;
                    width: 320px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        color: #03a062;
                        font-size: 40px;
                        position: relative;
                        bottom: 50px;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        line-height: 1%;
                        cursor: default;
                    }

                    .professionOrJobContainer {
                        height: 50px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        position: relative;
                        bottom: 50px;

                        p {
                            font-size: 20px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            line-height: 1%;
                            cursor: default;
                        }

                        .companyLogo {
                            background-color: white;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 90%;
                            border-radius: 5px;
                            transition: background-color 300ms;
                            filter: drop-shadow(0 0 2em var(--company-color));
                        }

                        .companyLogo:hover {
                            background-color: var(--company-color);
                        }
                    }
                }
            }
        }
    }

    .aboutMeSection {
        background-image: url("/src/Assets/Images/AboutMeSectionBG.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 600px;
        width: 100%;
        box-shadow: inset 0 0 30px 20px black;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .aboutMeTitle {
            height: 100px;
            width: 100%;
            border-bottom: 1px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: green;
                font-size: 50px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                cursor: default;
            }
        }

        .aboutMeContent {
            height: 500px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .aboutMeTextContainer {
                height: 100%;
                width: 700px;
                display: flex;
                justify-content: top;
                align-items: center;
                flex-direction: column;
                overflow: hidden;

                p {
                    color: #03a062;
                    font-size: 22px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    cursor: default;
                }
            }
        }
    }

    .projectsSection {
        background-color: black;
        height: 600px;
        width: 100%;
        box-shadow: inset 0 0 30px 20px black;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .projectsTitle {
            height: 100px;
            width: 100%;
            border-bottom: 1px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: green;
                font-size: 50px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                cursor: default;
            }
        }

        .projectsContent {
            height: 500px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .projectsGrid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, auto);
                gap: 50px;
                filter: drop-shadow(0 0 2em #03a062);

                .portfolioProject {
                    position: relative;
                    background-color: black;
                    height: 150px;
                    width: 300px;
                    border: 1px solid white;
                    border-radius: 10px;
                    text-decoration: none;
                    cursor: pointer;
                    overflow: hidden;
                    transition:
                        border 300ms,
                        filter 300ms;
                    display: flex;
                    flex-direction: column;
                }

                .pPCoverTitle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    animation: fadeIn 0.3s;
                    background-color: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: white;
                        font-size: 20px;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        text-shadow:
                            0 0 7px black,
                            0 0 3px black;
                    }
                }

                .pPTitle {
                    visibility: hidden;
                    height: 20%;
                    width: 100%;
                    border-bottom: 1px solid gray;
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    p {
                        color: #03a062;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        margin-left: 10px;
                    }
                }

                .pPContent {
                    visibility: hidden;
                    background-color: #222;
                    height: 80%;
                    width: 100%;
                    display: flex;

                    .projectInfo {
                        height: 100%;
                        width: 50%;
                        border-right: 1px solid gray;
                    }

                    .projectImage {
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 100%;
                        width: 50%;
                    }
                }

                .portfolioProject:hover {
                    border: 1px solid gray;
                    filter: drop-shadow(0 0 2em black);
                }

                .portfolioProject:hover .pPCoverTitle {
                    animation: fadeIn 0.3s;
                    display: none;
                }

                .portfolioProject:hover .pPTitle {
                    animation: fadeIn 0.3s;
                    visibility: visible;
                }

                .portfolioProject:hover .pPContent {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .noPortfolioProjectsYet {
                height: 300px;
                width: 90%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    width: fit-content;
                    color: yellow;
                    font-size: 30px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    border: 1px solid yellow;
                    border-radius: 48%;
                    padding: 30px;
                    cursor: default;
                }
            }

            .loadingPortfolioProjectsData {
                height: 300px;
                width: 95%;
                display: flex;
                justify-content: center;
                align-items: center;

                .loaderPortfolioProjects {
                    border: 8px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 8px solid black;
                    width: 60px;
                    height: 60px;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;
                }

                @-webkit-keyframes spin {
                    0% {
                        -webkit-transform: rotate(0deg);
                    }
                    100% {
                        -webkit-transform: rotate(360deg);
                    }
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }

            .noPortfolioProjectsData {
                height: 300px;
                width: 90%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    width: fit-content;
                    color: red;
                    font-size: 30px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    border: 1px solid red;
                    border-radius: 48%;
                    padding: 20px;
                    cursor: default;
                }
            }
        }
    }
}

/*PortfolioPage (mobile):*/
.portfolioPageContainerMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .breadcrumbMobile {
        background-color: lightgreen;
        height: 15px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;
        display: flex;

        .breadcrumbLogoMobile {
            background-image: url("/src/Assets/Images/Projects.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            height: 100%;
            width: 3%;
        }

        .breadcrumbTextMobile {
            height: 100%;
            width: 97%;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 5px;

            h2 {
                font-size: 10px;
                font-style: italic;
                font-family: "Courier New", Courier, monospace;
                cursor: default;

                span {
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                }

                span:hover {
                    color: green;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

/*PortfolioPageAdmin (mobile):*/
.portfolioPageContainerAdminMobile {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 100%;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumbMobile {
        background-color: lightgreen;
        height: 20px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;
        padding-left: 5px;
        display: flex;
        justify-content: left;
        align-items: center;

        h2 {
            font-size: 10px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;

            span {
                transition: filter 300ms;
                transition: background-color 500ms ease-in-out;
            }

            span:hover {
                color: green;
                filter: drop-shadow(0 0 2em #03a062);
            }
        }
    }
}

/*Both (mobile):*/
.mainMobile {
    background-color: #111;
    min-height: 580px;
    max-width: 1244px;
    width: 100%;
    border: 0.1px solid grey;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 30px 5px #03a062;
    overflow: hidden;

    .firstSectionMobile {
        background-image: url("/src/Assets/Images/PortfolioFirstSectionBG.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: transparent;
        height: 210px;
        width: 100%;
        box-shadow: inset 0 0 30px 20px black;
        overflow: hidden;

        .firstSectionTitleMobile {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: 40px;
                background: linear-gradient(to right, green, lightgreen, #03a062, green, lightgreen);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                letter-spacing: -3px;
                transition: 700ms ease;
                font-variation-settings: "wght" 311;
                outline: none;
                margin-bottom: 0.8rem;
                text-align: center;
                animation: hover-effect 5s infinite;
                cursor: default;
            }
        }

        @keyframes hover-effect {
            0% {
                font-variation-settings: "wght" 582;
                letter-spacing: -2px;
            }
            50% {
                font-variation-settings: "wght" 400;
                letter-spacing: -3px;
            }
            100% {
                font-variation-settings: "wght" 582;
                letter-spacing: -2px;
            }
        }

        .firstSectionContentMobile {
            height: 160px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .firstSectionBoxMobile {
                height: 80px;
                width: 220px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .firstSectionImgMobile {
                    background-image: url("/src/Assets/Images/Photo.jpeg");
                    background-repeat: no-repeat;
                    background-position: 50% 20%;
                    background-size: cover;
                    height: 60px;
                    width: 60px;
                    border: 1px solid #03a062;
                    border-radius: 100%;
                    filter: drop-shadow(0 0 2em #03a062);
                }

                .firstSectionInfoMobile {
                    height: 60px;
                    width: 130px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        color: #03a062;
                        font-size: 12px;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        line-height: 1%;
                        cursor: default;
                    }

                    .professionOrJobContainerMobile {
                        height: 25px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        position: relative;
                        bottom: 10px;

                        p {
                            font-size: 8px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            line-height: 1%;
                            cursor: default;
                        }

                        .companyLogoMobile {
                            background-color: white;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 90%;
                            border-radius: 2.5px;
                            transition: background-color 300ms;
                            filter: drop-shadow(0 0 2em var(--company-color));
                        }

                        .companyLogoMobile:hover {
                            background-color: var(--company-color);
                        }
                    }
                }
            }
        }
    }

    .aboutMeSectionMobile {
        background-image: url("/src/Assets/Images/AboutMeSectionBG.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 210px;
        width: 100%;
        box-shadow: inset 0 0 30px 20px black;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .aboutMeTitleMobile {
            height: 50px;
            width: 100%;
            border-bottom: 0.5px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: green;
                font-size: 25px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                cursor: default;
            }
        }

        .aboutMeContentMobile {
            height: 160px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .aboutMeTextContainerMobile {
                height: 100%;
                width: 220px;
                display: flex;
                justify-content: top;
                align-items: center;
                flex-direction: column;
                overflow: hidden;

                p {
                    color: #03a062;
                    font-size: 7px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    cursor: default;
                }
            }
        }
    }

    .projectsSectionMobile {
        background-color: black;
        height: 210px;
        width: 100%;
        box-shadow: inset 0 0 30px 20px black;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .projectsTitleMobile {
            height: 50px;
            width: 100%;
            border-bottom: 0.5px solid gray;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: green;
                font-size: 25px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                cursor: default;
            }
        }

        .projectsContentMobile {
            height: 160px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .projectsGridMobile {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, auto);
                gap: 20px;
                filter: drop-shadow(0 0 2em #03a062);

                .portfolioProjectMobile {
                    position: relative;
                    background-color: black;
                    height: 50px;
                    width: 80px;
                    border: 1px solid white;
                    border-radius: 5px;
                    text-decoration: none;
                    cursor: pointer;
                    overflow: hidden;
                    transition:
                        border 300ms,
                        filter 300ms;
                    display: flex;
                    flex-direction: column;

                    .pPCoverTitleMobile {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        animation: fadeIn 0.3s;
                        background-color: black;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            display: block;
                            color: white;
                            font-size: 5px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            text-shadow:
                                0 0 7px black,
                                0 0 3px black;
                        }
                    }

                    .pPTitleMobile {
                        visibility: hidden;
                        height: 20%;
                        width: 100%;
                        border-bottom: 1px solid gray;
                        display: flex;
                        justify-content: left;
                        align-items: center;

                        p {
                            color: #03a062;
                            font-size: 5px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            margin-left: 5px;
                        }
                    }

                    .pPContentMobile {
                        visibility: hidden;
                        background-color: #222;
                        height: 80%;
                        width: 100%;
                        display: flex;

                        .projectInfoMobile {
                            height: 100%;
                            width: 50%;
                            border-right: 1px solid gray;
                        }

                        .projectImageMobile {
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            height: 100%;
                            width: 50%;
                        }
                    }

                    &:hover {
                        border: 1px solid gray;
                        filter: drop-shadow(0 0 2em black);

                        .pPCoverTitleMobile {
                            animation: fadeIn 0.3s;
                            display: none;
                        }

                        .pPTitleMobile {
                            animation: fadeIn 0.3s;
                            visibility: visible;
                        }

                        .pPContentMobile {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            .noPortfolioProjectsYetMobile {
                height: 300px;
                width: 90%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    width: fit-content;
                    color: yellow;
                    font-size: 10px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    border: 1px solid yellow;
                    border-radius: 48%;
                    padding: 10px;
                    cursor: default;
                }
            }

            .loadingPortfolioProjectsDataMobile {
                height: 300px;
                width: 95%;
                display: flex;
                justify-content: center;
                align-items: center;

                .loaderPortfolioProjectsMobile {
                    border: 8px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 8px solid black;
                    width: 60px;
                    height: 60px;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;
                }

                @-webkit-keyframes spin {
                    0% {
                        -webkit-transform: rotate(0deg);
                    }
                    100% {
                        -webkit-transform: rotate(360deg);
                    }
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }

            .noPortfolioProjectsDataMobile {
                height: 300px;
                width: 90%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                h4 {
                    width: fit-content;
                    color: red;
                    font-size: 10px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    border: 1px solid red;
                    border-radius: 48%;
                    padding: 10px;
                    cursor: default;
                }
            }
        }
    }
}
