/*VideosPage:*/
.vP {
    animation: fadeIn 0.3s;
    background-color: black;
    width: 100%;
    border-radius: 2px;
    box-shadow:
        0 0 30px 20px black,
        inset 0 0 30px 20px black;

    .videosPageContainer {
        animation: fadeIn 0.3s;
        background-color: #111;
        max-width: 1244px;
        width: 100%;
        border: 0.1px solid grey;
        border-radius: 2px;
        margin: auto;
        box-shadow: 0 0 30px 5px #03a062;
        overflow: hidden;

        .breadcrumb {
            background-color: lightgreen;
            height: 30px;
            overflow: hidden;
            border-bottom: 1px solid #03a062;
            display: flex;

            .breadcrumbLogo {
                background-image: url("/src/Assets/Images/Videos.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 70%;
                height: 100%;
                width: 3%;
            }

            .breadcrumbText {
                height: 100%;
                width: 97%;
                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 10px;

                h2 {
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Courier New", Courier, monospace;
                    cursor: default;
                }
            }
        }

        .videoTitle {
            height: 20%;
            width: 100%;
            overflow: hidden;

            h4 {
                color: white;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 28px;
                left: 10px;
                cursor: default;
            }
        }
    }
}

/*VideosPageAdmin:*/
.videosPageContainerAdmin {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumb {
        background-color: lightgreen;
        height: 30px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;

        h2 {
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 20px;
            left: 10px;
            cursor: default;
        }
    }

    .createVideo {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid white;
    }

    .videoTitle {
        height: 20%;
        width: 100%;
        overflow: hidden;

        .videoTitleSection1 {
            height: 100%;
            width: 80%;
            overflow: hidden;
            display: flex;
            align-items: center;

            h4 {
                color: white;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                padding-left: 10px;
                cursor: default;
            }
        }

        .videoTitleSection2 {
            height: 100%;
            width: 20%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: relative;
            bottom: 60px;
            left: 900px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Both:*/
.videosPageTitleContainer {
    height: 120px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;

    h2 {
        color: white;
        font-size: 70px;
        position: relative;
        bottom: 40px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        cursor: default;
    }
}

.aboutMyVideosContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.aboutMyVideosTitle {
    height: 10%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;

    h3 {
        color: white;
        font-size: 25px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        position: relative;
        bottom: 23px;
        left: 10px;
        cursor: default;
    }
}

.aboutMyVideosContent {
    background-image: url("/src/Assets/Images/VideosBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 12px;

    .aboutMyVideosPhoto {
        background-image: url("/src/Assets/Images/VideosBG.jpg");
        background-repeat: no-repeat;
        background-size: 280%;
        background-position: 53.5% 60%;
        height: 70%;
        width: 15%;
        border-radius: 100%;
        border: 1px solid #03a062;
        position: relative;
        top: 20px;
        transition: filter 300ms;
    }

    .aboutMyVideosPhoto:hover {
        border: 1px solid white;
        filter: drop-shadow(0 0 2em var(--videos-color));
    }

    .aboutMyVideosTextContainer {
        height: 90%;
        width: 80%;
        border-radius: 10px;
        border: 1px solid #03a062;
        overflow: hidden;

        .aboutMyVideosTextTitle {
            background-color: #111;
            height: 20%;
            width: 100%;
            overflow: hidden;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: 1px solid #03a062;
            display: flex;

            .aboutMyVideosTextTitleLogo {
                background-color: white;
                background-image: url("/src/Assets/Images/YouTube.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 200%;
                height: 100%;
                width: 5%;
            }

            .aboutMyVideosTextTitleText {
                height: 100%;
                width: 95%;
                display: flex;
                justify-content: left;
                align-items: center;

                .h4_1 {
                    color: #03a062;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-shadow: 0.3px 0.3px 0 lightgreen;
                    cursor: default;
                    position: relative;
                    bottom: 10px;
                    left: 10px;
                }

                .h4_2 {
                    color: #03a062;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-shadow: 0.3px 0.3px 0 lightgreen;
                    cursor: default;
                    position: relative;
                    top: 10px;
                    right: 78px;
                }
            }
        }

        .aboutMyVideosText {
            background-color: #333;
            height: 80%;
            width: 100%;
            overflow: hidden;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-top: 5px;
            padding-left: 5px;

            p {
                color: white;
                font-size: 16px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                line-height: 1.2;
                max-width: 975px;
                position: relative;
                left: 6px;
                bottom: 13px;
                cursor: default;
            }
        }
    }
}

.videosContainer {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;

    .videosTitle {
        height: 30px;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid white;

        h3 {
            color: white;
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 23px;
            left: 10px;
            cursor: default;
        }
    }

    .videosContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
        padding-bottom: 50px;

        .video {
            height: 300px;
            width: 90%;
            border: 1px solid white;
            border-radius: 10px;
            text-decoration: none;
            overflow: hidden;
            transition: border 300ms;
            transition: filter 300ms;

            .videoCoverTitle {
                animation: fadeIn 0.3s;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                h2 {
                    display: block;
                    color: white;
                    font-size: 60px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }
            }

            .videoContent {
                height: 80%;
                width: 100%;
                border-top: 1px solid lightcoral;
                display: flex;
                visibility: hidden;
                opacity: 0;
                transition:
                    visibility 0.3s,
                    opacity 0.3s;

                .videoContentDescription {
                    background-color: #333;
                    height: 100%;
                    width: 70%;
                    border-right: 1px solid lightcoral;
                    overflow: hidden;

                    .vCDBox1 {
                        height: 20%;
                        width: 100%;
                        border-bottom: 1px solid lightcoral;
                        overflow: hidden;

                        p {
                            color: #03a062;
                            font-size: 20px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            position: relative;
                            bottom: 8px;
                            left: 10px;
                            cursor: default;
                        }
                    }

                    .vCDBox2 {
                        height: 60%;
                        width: 100%;
                        overflow: hidden;

                        .vCDBox2Title {
                            height: 20%;
                            width: 100%;
                            text-decoration: underline;
                            text-decoration-color: #03a062;
                            overflow: hidden;

                            p {
                                color: #03a062;
                                font-size: 20px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 18px;
                                left: 10px;
                                cursor: default;
                            }
                        }

                        .vCDBox2Content {
                            height: 80%;
                            width: 100%;
                            overflow: hidden;

                            p {
                                color: white;
                                font-size: 15px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 10px;
                                left: 10px;
                                cursor: default;
                            }
                        }
                    }

                    .vCDBox3 {
                        height: 20%;
                        width: 100%;
                        border-top: 1px solid lightcoral;
                        overflow: hidden;

                        p {
                            color: #03a062;
                            font-size: 20px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            position: relative;
                            bottom: 8px;
                            left: 10px;
                            cursor: default;
                        }
                    }
                }

                .videoContentOther {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: column;

                    .videoContentPhoto {
                        background-color: #111;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 80%;
                        width: 100%;
                    }

                    .videoContentButtons {
                        background-color: #111;
                        height: 20%;
                        width: 100%;
                        border-top: 1px solid gray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        .videoBtn1 {
                            background-color: white;
                            background-image: url("/src/Assets/Images/YouTube.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 300%;
                            height: 25px;
                            width: 35px;
                            cursor: pointer;
                            border: 1px solid white;
                            border-radius: 10%;
                            transition: filter 300ms;
                        }

                        .videoBtn1:hover {
                            filter: drop-shadow(0 0 2em var(--videos-color));
                        }

                        .videoBtn2 {
                            background-color: #111;
                            color: #03a062;
                            height: 35px;
                            width: 70px;
                            cursor: pointer;
                            border-radius: 5px;
                            border: 1px solid #03a062;
                            font-size: 12px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            transition: filter 300ms;
                        }

                        .videoBtn2:hover {
                            background-color: lightgreen;
                            transition: background-color 500ms ease-in-out;
                            filter: drop-shadow(0 0 2em #03a062);
                        }
                    }
                }
            }
        }

        .video:hover {
            border: 1px solid lightcoral;
            filter: drop-shadow(0 0 2em var(--videos-color));
        }

        .video:hover .videoCoverTitle {
            animation: fadeIn 0.3s;
            display: none;
        }

        .video:hover .videoTitle {
            animation: fadeIn 0.3s;
            display: block;
        }

        .video:hover .videoContent {
            visibility: visible;
            opacity: 1;
        }

        .noVideosYet {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: yellow;
                font-size: 60px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid yellow;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }

        .loadingVideosData {
            height: 300px;
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;

            .loaderVideos {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }

            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .noVideosData {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: red;
                font-size: 60px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid red;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }
    }
}

/*VideosPage (mobile):*/
.videosPageContainerMobile {
    animation: fadeIn 0.3s;
    background-color: #111;
    max-width: 1244px;
    width: 100%;
    border: 0.1px solid grey;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 30px 5px #03a062;
    overflow: hidden;

    .breadcrumbMobile {
        background-color: lightgreen;
        height: 15px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;
        display: flex;

        .breadcrumbLogoMobile {
            background-image: url("/src/Assets/Images/Videos.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            height: 100%;
            width: 3%;
        }

        .breadcrumbTextMobile {
            height: 100%;
            width: 97%;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 5px;

            h2 {
                font-size: 10px;
                font-style: italic;
                font-family: "Courier New", Courier, monospace;
                cursor: default;
            }
        }
    }
}

/*VideosPageAdmin (mobile):*/
.videosPageContainerAdminMobile {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 100%;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumbMobile {
        background-color: lightgreen;
        height: 20px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;
        padding-left: 5px;
        display: flex;
        justify-content: left;
        align-items: center;

        h2 {
            font-size: 10px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
        }
    }

    .createVideoMobile {
        height: 30px;
        width: 100%;
        border-bottom: 1px solid white;
    }

    .videoTitleMobile {
        height: 20%;
        width: 100%;
        overflow: hidden;

        .videoTitleSection1Mobile {
            height: 100%;
            width: 80%;
            overflow: hidden;
            display: flex;
            align-items: center;

            h4 {
                color: white;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                padding-left: 10px;
                position: relative;
                top: 0px;
                cursor: default;
            }
        }

        .videoTitleSection2Mobile {
            height: 100%;
            width: 20%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: relative;
            bottom: 60px;
            left: 900px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Both (mobile):*/
.videosPageTitleContainerMobile {
    height: 60px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: white;
        font-size: 40px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        cursor: default;
    }
}

.aboutMyVideosContainerMobile {
    height: 150px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.aboutMyVideosTitleMobile {
    height: 10%;
    width: 100%;
    overflow: hidden;
    padding-left: 5px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;

    h3 {
        color: white;
        font-size: 12px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        cursor: default;
    }
}

.aboutMyVideosContentMobile {
    background-image: url("/src/Assets/Images/VideosBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 2%;

    .aboutMyVideosPhotoMobile {
        background-image: url("/src/Assets/Images/VideosBG.jpg");
        background-repeat: no-repeat;
        background-size: 280%;
        background-position: 53.5% 60%;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 1px solid #03a062;
        transition: filter 300ms;
    }

    .aboutMyVideosPhotoMobile:hover {
        border: 1px solid white;
        filter: drop-shadow(0 0 2em var(--videos-color));
    }

    .aboutMyVideosTextContainerMobile {
        height: 90%;
        width: 65%;
        border-radius: 10px;
        border: 1px solid #03a062;
        overflow: hidden;

        .aboutMyVideosTextTitleMobile {
            background-color: #111;
            height: 20%;
            width: 100%;
            overflow: hidden;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: 1px solid #03a062;
            display: flex;

            .aboutMyVideosTextTitleLogoMobile {
                background-color: white;
                background-image: url("/src/Assets/Images/YouTube.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 200%;
                height: 100%;
                width: 5%;
            }

            .aboutMyVideosTextTitleTextMobile {
                height: 100%;
                width: 95%;
                display: flex;
                justify-content: left;
                align-items: center;

                .h4_1M {
                    color: #03a062;
                    font-size: 7px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-shadow: 0.3px 0.3px 0 lightgreen;
                    cursor: default;
                    position: relative;
                    bottom: 5px;
                    left: 8px;
                }

                .h4_2M {
                    color: #03a062;
                    font-size: 7px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-shadow: 0.3px 0.3px 0 lightgreen;
                    cursor: default;
                    position: relative;
                    top: 5px;
                    right: 31px;
                }
            }
        }

        .aboutMyVideosTextMobile {
            background-color: #333;
            height: 80%;
            width: 100%;
            overflow: hidden;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-top: 5px;
            padding-left: 5px;

            p {
                color: white;
                font-size: 9px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                line-height: 1.2;
                max-width: 96%;
                position: relative;
                bottom: 12px;
                cursor: default;
            }
        }
    }
}

.videosContainerMobile {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;

    .videosTitleMobile {
        height: 15px;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid white;
        padding-left: 5px;
        display: flex;
        align-items: center;

        h3 {
            color: white;
            font-size: 12px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
        }
    }

    .videosContentMobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
        padding-bottom: 50px;

        .videoMobile {
            height: 150px;
            width: 90%;
            border: 1px solid white;
            border-radius: 10px;
            text-decoration: none;
            overflow: hidden;
            transition: border 300ms;
            transition: filter 300ms;

            .videoCoverTitleMobile {
                animation: fadeIn 0.3s;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                h2 {
                    display: block;
                    color: white;
                    font-size: 30px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }
            }

            .videoTitleMobile {
                height: 20%;
                width: 100%;
                overflow: hidden;

                h4 {
                    color: white;
                    font-size: 15px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    bottom: 14px;
                    left: 5px;
                    cursor: default;
                }
            }

            .videoContentMobile {
                height: 80%;
                width: 100%;
                border-top: 1px solid lightcoral;
                display: flex;
                visibility: hidden;
                opacity: 0;
                transition:
                    visibility 0.3s,
                    opacity 0.3s;

                .videoContentDescriptionMobile {
                    background-color: #333;
                    height: 100%;
                    width: 70%;
                    border-right: 1px solid lightcoral;
                    overflow: hidden;

                    .vCDBox1Mobile {
                        height: 20%;
                        width: 100%;
                        border-bottom: 1px solid lightcoral;
                        overflow: hidden;

                        p {
                            color: #03a062;
                            font-size: 10px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            position: relative;
                            bottom: 4px;
                            left: 5px;
                            cursor: default;
                        }
                    }

                    .vCDBox2Mobile {
                        height: 60%;
                        width: 100%;
                        overflow: hidden;

                        .vCDBox2TitleMobile {
                            height: 20%;
                            width: 100%;
                            text-decoration: underline;
                            text-decoration-color: #03a062;
                            overflow: hidden;

                            p {
                                color: #03a062;
                                font-size: 10px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 9px;
                                left: 5px;
                                cursor: default;
                            }
                        }

                        .vCDBox2ContentMobile {
                            height: 80%;
                            width: 100%;
                            overflow: hidden;

                            p {
                                color: white;
                                font-size: 7px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 6px;
                                left: 5px;
                                cursor: default;
                            }
                        }
                    }

                    .vCDBox3Mobile {
                        height: 20%;
                        width: 100%;
                        border-top: 1px solid lightcoral;
                        overflow: hidden;

                        p {
                            color: #03a062;
                            font-size: 10px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            position: relative;
                            bottom: 4px;
                            left: 5px;
                            cursor: default;
                        }
                    }
                }

                .videoContentOtherMobile {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: column;

                    .videoContentPhotoMobile {
                        background-color: #111;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 80%;
                        width: 100%;
                    }

                    .videoContentButtonsMobile {
                        background-color: #111;
                        height: 20%;
                        width: 100%;
                        border-top: 1px solid gray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10%;

                        .videoBtn1Mobile {
                            background-color: white;
                            background-image: url("/src/Assets/Images/YouTube.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 300%;
                            height: 10px;
                            width: 15px;
                            cursor: pointer;
                            border: 0.5px solid white;
                            border-radius: 5%;
                            transition: filter 300ms;
                        }

                        .videoBtn1Mobile:hover {
                            filter: drop-shadow(0 0 2em var(--videos-color));
                        }

                        .videoBtn2Mobile {
                            background-color: #111;
                            color: #03a062;
                            height: 15px;
                            width: 30px;
                            cursor: pointer;
                            border-radius: 2px;
                            border: 0.5px solid #03a062;
                            font-size: 5px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            transition: filter 300ms;
                        }

                        .videoBtn2Mobile:hover {
                            background-color: lightgreen;
                            transition: background-color 500ms ease-in-out;
                            filter: drop-shadow(0 0 2em #03a062);
                        }
                    }
                }
            }
        }

        .videoMobile:hover {
            border: 1px solid lightcoral;
            filter: drop-shadow(0 0 2em var(--videos-color));
        }

        .videoMobile:hover .videoCoverTitleMobile {
            animation: fadeIn 0.3s;
            display: none;
        }

        .videoMobile:hover .videoTitleMobile {
            animation: fadeIn 0.3s;
            display: block;
        }

        .videoMobile:hover .videoContentMobile {
            visibility: visible;
            opacity: 1;
        }

        .noVideosYetMobile {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: yellow;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid yellow;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }

        .loadingVideosDataMobile {
            height: 300px;
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;

            .loaderVideosMobile {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }

            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .noVideosDataMobile {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: red;
                font-size: 60px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid red;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }
    }
}
