/*ProjectNav:*/
.projectNavBtn {
    background-color: #111;
    height: 15px;
    width: 100%;
    border: 0.5px solid #03a062;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #03a062;
        font-size: 20px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        position: relative;
    }
}

.projectNavBtn:hover {
    background-color: lightgreen;
    color: #03a062;
    border: 1px solid #03a062;
}

.projectNav {
    background-color: #222;
    height: 70px;
    width: 100%;
    border: 2px solid #03a062;
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 3px;

    .block1 {
        background-color: #111;
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;

        .b1Title {
            height: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #03a062;
                font-size: 14px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            }
        }

        .b1Content {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .controlLink {
                height: 45px;
                width: 80px;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 300ms ease-in-out;
                display: flex;
                flex-direction: column;

                .cLImg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 33px;
                    width: 100%;
                }

                .cLTitle {
                    height: 12px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: #03a062;
                        font-size: 12px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .controlLink:hover .cLImg {
                transition: filter 300ms;
                color: lightgreen;
                filter: drop-shadow(0 0 0.6em lightgreen);
            }

            .controlLink:hover p {
                color: lightgreen;
            }

            .controlLinkC {
                height: 45px;
                width: 80px;
                cursor: default;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em green);

                .cLImg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 33px;
                    width: 100%;
                }

                .cLTitle {
                    height: 12px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: green;
                        font-size: 12px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .controlLinkD {
                height: 45px;
                width: 80px;
                cursor: not-allowed;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em red);

                .cLImg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 33px;
                    width: 100%;
                }

                .cLTitle {
                    height: 12px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: red;
                        font-size: 12px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }
        }
    }

    .block2 {
        height: 100%;
        width: 60%;
        border-left: 2px solid #03a062;
        border-right: 2px solid #03a062;
        display: flex;
        flex-direction: column;

        .b2Title {
            height: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #03a062;
                font-size: 14px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            }
        }

        .b2Content {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .appLink {
                height: 45px;
                width: 80px;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 300ms ease-in-out;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .aImg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 33px;
                    width: 100%;
                }

                .aTitle {
                    height: 12px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: #03a062;
                        font-size: 12px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .appLink:hover .aImg {
                transition: filter 300ms;
                color: lightgreen;
                filter: drop-shadow(0 0 0.6em lightgreen);
            }

            .appLink:hover p {
                color: lightgreen;
            }

            .appLinkC {
                height: 45px;
                width: 80px;
                cursor: default;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em green);

                .aImg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 33px;
                    width: 100%;
                }

                .aTitle {
                    height: 12px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: green;
                        font-size: 12px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .appLinkD {
                height: 45px;
                width: 80px;
                cursor: not-allowed;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em red);

                .aImg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 33px;
                    width: 100%;
                }

                .aTitle {
                    height: 12px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: red;
                        font-size: 12px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .noAppLinks {
                color: #03a062;
                font-size: 20px;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            }
        }
    }

    .block3 {
        background-color: #111;
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;

        .b3Title {
            height: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #03a062;
                font-size: 14px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            }
        }

        .b3Content {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}

/*ProjectNavMobile:*/
.projectNavBtnMobile {
    background-color: #111;
    height: 7px;
    width: 100%;
    border: 0.3px solid #03a062;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #03a062;
        font-size: 10px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        position: relative;
    }
}

.projectNavBtnMobile:hover {
    background-color: lightgreen;
    color: #03a062;
    border: 0.5px solid #03a062;
}

.projectNavMobile {
    background-color: #222;
    height: 35px;
    width: 100%;
    border: 1px solid #03a062;
    border-radius: 1.5px;
    display: flex;
    overflow: hidden;
    margin-top: 1.5px;
    margin-bottom: 1.5px;

    .block1Mobile {
        background-color: #111;
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;

        .b1TitleMobile {
            height: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #03a062;
                font-size: 7px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-decoration: underline;
            }
        }

        .b1ContentMobile {
            height: 25px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .controlLinkMobile {
                height: 23px;
                width: 40px;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 300ms ease-in-out;
                display: flex;
                flex-direction: column;

                .cLImgMobile {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 16px;
                    width: 100%;
                }

                .cLTitleMobile {
                    height: 7px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: #03a062;
                        font-size: 6px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .controlLinkMobile:hover .cLImgMobile {
                transition: filter 300ms;
                color: lightgreen;
                filter: drop-shadow(0 0 0.6em lightgreen);
            }

            .controlLinkMobile:hover p {
                color: lightgreen;
            }

            .controlLinkCMobile {
                height: 23px;
                width: 40px;
                cursor: default;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em green);

                .cLImgMobile {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 16px;
                    width: 100%;
                }

                .cLTitleMobile {
                    height: 7px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: green;
                        font-size: 6px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .controlLinkDMobile {
                height: 23px;
                width: 40px;
                cursor: not-allowed;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em red);

                .cLImgMobile {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 16px;
                    width: 100%;
                }

                .cLTitleMobile {
                    height: 7px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: red;
                        font-size: 6px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }
        }
    }

    .block2Mobile {
        height: 100%;
        width: 60%;
        border-left: 2px solid #03a062;
        border-right: 2px solid #03a062;
        display: flex;
        flex-direction: column;

        .b2TitleMobile {
            height: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #03a062;
                font-size: 7px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-decoration: underline;
            }
        }

        .b2ContentMobile {
            height: 25px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .appLinkMobile {
                height: 23px;
                width: 40px;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 300ms ease-in-out;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .aImgMobile {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 16px;
                    width: 100%;
                }

                .aTitleMobile {
                    height: 7px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: #03a062;
                        font-size: 6px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .appLinkMobile:hover .aImgMobile {
                transition: filter 300ms;
                color: lightgreen;
                filter: drop-shadow(0 0 0.6em lightgreen);
            }

            .appLinkMobile:hover p {
                color: lightgreen;
            }

            .appLinkCMobile {
                height: 23px;
                width: 40px;
                cursor: default;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em green);

                .aImgMobile {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 16px;
                    width: 100%;
                }

                .aTitleMobile {
                    height: 7px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: green;
                        font-size: 6px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .appLinkDMobile {
                height: 23px;
                width: 40px;
                cursor: not-allowed;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em red);

                .aImgMobile {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 16px;
                    width: 100%;
                }

                .aTitleMobile {
                    height: 7px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: red;
                        font-size: 6px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .noAppLinksMobile {
                color: #03a062;
                font-size: 20px;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            }
        }
    }

    .block3Mobile {
        background-color: #111;
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;

        .b2TitleMobile {
            height: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #03a062;
                font-size: 7px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-decoration: underline;
            }
        }

        .b2ContentMobile {
            height: 25px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    }
}
