/*ProjectNav:*/
.projectNavBtn {
    background-color: #111;
    height: 15px;
    width: 100%;
    border: 0.5px solid #03a062;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #03a062;
        font-size: 20px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        position: relative;
    }
}

.projectNavBtn:hover {
    background-color: lightgreen;
    color: #03a062;
    border: 1px solid #03a062;
}

.projectNav {
    background-color: #222;
    height: 70px;
    width: 100%;
    border: 2px solid #03a062;
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    margin-top: 3px;
    margin-bottom: 3px;

    .block {
        height: 100%;
        width: 100%;
        border-left: 2px solid #03a062;
        border-right: 2px solid #03a062;
        display: flex;
        flex-direction: column;

        .bTitle {
            height: 20px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #03a062;
                font-size: 14px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                cursor: default;
            }
        }

        .bContent {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .appLink {
                height: 45px;
                width: 80px;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 300ms ease-in-out;
                display: flex;
                flex-direction: column;

                .aImg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 33px;
                    width: 100%;
                }

                .aTitle {
                    height: 12px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: #03a062;
                        font-size: 10px;
                        font-style: italic;
                        font-family: "Courier New", Courier, monospace;
                    }
                }
            }

            .appLink:hover .aImg {
                transition: filter 300ms;
                color: lightgreen;
                filter: drop-shadow(0 0 0.6em lightgreen);
            }

            .appLink:hover p {
                color: lightgreen;
            }

            .appLinkD {
                height: 45px;
                width: 80px;
                cursor: not-allowed;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em red);

                .aImg {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 33px;
                    width: 100%;
                }

                .aTitle {
                    height: 12px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: red;
                        font-size: 12px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .noAppLinks {
                color: yellow;
                font-size: 20px;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid yellow;
                border-radius: 5px;
                padding: 3px;
                cursor: default;
            }
        }
    }
}

/*ProjectNavMobile:*/
.projectNavBtnMobile {
    background-color: #111;
    height: 7px;
    width: 100%;
    border: 0.3px solid #03a062;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #03a062;
        font-size: 10px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        position: relative;
    }
}

.projectNavBtnMobile:hover {
    background-color: lightgreen;
    color: #03a062;
    border: 0.5px solid #03a062;
}

.projectNavMobile {
    background-color: #222;
    height: 35px;
    width: 100%;
    border: 1px solid #03a062;
    border-radius: 1.5px;
    display: flex;
    overflow: hidden;
    margin-top: 1.5px;
    margin-bottom: 1.5px;

    .blockMobile {
        height: 100%;
        width: 100%;
        border-left: 2px solid #03a062;
        border-right: 2px solid #03a062;
        display: flex;
        flex-direction: column;

        .bTitleMobile {
            height: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: #03a062;
                font-size: 7px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                cursor: default;
            }
        }

        .bContentMobile {
            height: 25px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .appLinkMobile {
                height: 23px;
                width: 40px;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 300ms ease-in-out;
                display: flex;
                flex-direction: column;

                .aImgMobile {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 16px;
                    width: 100%;
                }

                .aTitleMobile {
                    height: 7px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: #03a062;
                        font-size: 3px;
                        font-style: italic;
                        font-family: "Courier New", Courier, monospace;
                    }
                }
            }

            .appLinkMobile:hover .aImgMobile {
                transition: filter 300ms;
                color: lightgreen;
                filter: drop-shadow(0 0 0.6em lightgreen);
            }

            .appLinkMobile:hover p {
                color: lightgreen;
            }

            .appLinkDMobile {
                height: 23px;
                width: 40px;
                cursor: not-allowed;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                transition: filter 300ms;
                filter: drop-shadow(0 0 0.6em red);

                .aImgMobile {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    height: 16px;
                    width: 100%;
                }

                .aTitleMobile {
                    height: 7px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: red;
                        font-size: 5px;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    }
                }
            }

            .noAppLinksMobile {
                color: yellow;
                font-size: 10px;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 0.5px solid yellow;
                border-radius: 2.5px;
                padding: 1.5px;
                cursor: default;
            }
        }
    }
}
