/*ProjectsPage:*/
.ProjectsPageContainer {
    animation: fadeIn 0.3s;
    background-color: #111;
    height: 600px;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Breadcrumb {
    background-color: lightgreen;
    height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #03a062;
}

.Breadcrumb h2 {
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 20px;
    left: 10px;
}

/*Title:*/
.ProjectsPageTitleContainer {
    background-color: black;
    height: 120px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.ProjectsPageTitleContainer h2 {
    color: white;
    font-size: 70px;
    position: relative;
    bottom: 40px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Content:*/
.ProjectsPageContentContainer {
    height: 80%;
    width: 100%;
    border-top: 1px solid white;
    overflow: hidden;
    padding-top: 23px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 160px;
}
