/*TimeAndDate:*/
.timeAndDateContainer {
    background-color: #111;
    height: 85px;
    width: 235px;
    border: 1px solid #03a062;
    border-radius: 10px;

    .time {
        color: #03a062;
        font-size: 30px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        position: relative;
        left: 10px;
        bottom: 23px;
        cursor: default;
    }

    .date {
        color: #03a062;
        font-size: 30px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        position: relative;
        bottom: 50px;
        left: 10px;
        cursor: default;
    }
}

/*Mobile:*/
.timeAndDateContainerMobile {
    background-color: #111;
    height: 42px;
    width: 117px;
    border: 1px solid #03a062;
    border-radius: 5px;

    .timeMobile {
        color: #03a062;
        font-size: 15px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        position: relative;
        left: 5%;
        bottom: 11px;
        cursor: default;
    }

    .dateMobile {
        color: #03a062;
        font-size: 15px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        position: relative;
        bottom: 25px;
        left: 5px;
        cursor: default;
    }
}
