/*Front page:*/
.FP {
    animation: fadeIn 0.3s;
    width: 100%;
}

.FrontPageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Header:*/
.Header {
    height: 50px;
    width: 100%;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #03a062;
    margin-bottom: 30px;
}

.HeaderLogo {
    background-image: url("/src/Assets/Images/Logo.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 44px;
    width: 64px;
    margin-top: 2px;
    border: 1px solid #03a062;
    border-radius: 5px;
    transition: filter 300ms;
}

.HeaderLogo:hover {
    border: 1px solid lightgreen;
    filter: drop-shadow(0 0 2em #03a062);
}

.HeaderTitle {
    height: 100%;
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HeaderTitle h1 {
    color: #03a062;
    font-size: 35px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 1px 1px 0 lightgreen;
    position: relative;
    bottom: 20px;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow:
            0 0 2px #fff,
            0 0 5px #fff,
            0 0 7px #03a062,
            0 0 10px #03a062,
            0 0 12px #03a062,
            0 0 15px #03a062,
            0 0 17px #03a062;
    }

    to {
        text-shadow:
            0 0 5px #fff,
            0 0 7px lightgreen,
            0 0 10px lightgreen,
            0 0 12px lightgreen,
            0 0 15px lightgreen,
            0 0 17px lightgreen,
            0 0 20px lightgreen;
    }
}

.NavOptions {
    margin-right: 10px;
}

.NavOptions h2 {
    color: #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.LoginButtonFP {
    animation: fadeIn 0.3s;
    background-color: transparent;
    color: #03a062;
    height: 44px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: filter 300ms;
}

.NavOptions button:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}

/*Main:*/
.Main {
    min-height: 580px;
    max-width: 1244px;
    width: 100%;
    border: 0.1px solid grey;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 30px 5px #03a062;
    overflow: hidden;
}

.FPModal {
    background-color: #111;
    height: 580px;
    width: 746px;
    padding-bottom: 10px;
    border: 3px solid #03a062;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px #03a062;
    position: relative;
    left: 20%;
    top: 2px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: hidden;
}

.FPAboutTitle {
    height: 10%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.FPAboutTitle h2 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 10px;
    text-decoration-line: underline;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.FPTitleX-button {
    animation: fadeIn 0.3s;
    background-color: red;
    color: white;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-style: italic;
    position: relative;
    top: 7px;
    left: 190px;
}

.FPTitleX-button:hover {
    background-color: lightcoral;
    color: red;
    border: 1px solid red;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em lightcoral);
}

.FPAbout {
    height: 80%;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.FPAbout p {
    color: #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.FPBack {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.FPBackButton {
    background-color: red;
    color: white;
    cursor: pointer;
    height: 48px;
    width: 207px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 30px;
    font-style: italic;
    transition: filter 300ms;
}

.FPBackButton:hover {
    background-color: lightcoral;
    color: red;
    border: 1px solid red;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em lightcoral);
}

.HeroSection {
    background-image: url("/src/Assets/Images/HeroSectionBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.HeroTitle {
    animation: fadeIn 0.3s;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.HTWelcome1 {
    position: relative;
    bottom: 70px;
}

.HTWelcome1 h2 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 lightgreen;
    text-align: center;
    letter-spacing: 0.5px;
    text-shadow:
        0 0 10px black,
        0 0 20px black;
}

.HTWelcome2 {
    background-color: black;
    border-radius: 20px;
    position: relative;
    bottom: 30px;
    height: 100px;
    width: fit-content;
    box-shadow:
        0 0 10px black,
        0 0 20px black;
}

.HTWelcome2 h3 {
    font-size: 100px;
    background: linear-gradient(to right, green, lightgreen, #03a062, green, lightgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    margin-bottom: 0.8rem;
    text-align: center;
    animation: hover-effect 5s infinite;
    position: relative;
    bottom: 110px;
}

@keyframes hover-effect {
    0% {
        font-variation-settings: "wght" 582;
        letter-spacing: -2px;
    }
    50% {
        font-variation-settings: "wght" 400;
        letter-spacing: -3px;
    }
    100% {
        font-variation-settings: "wght" 582;
        letter-spacing: -2px;
    }
}

.HeroContent {
    animation: fadeIn 0.3s;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding-top: 10px;
}

.HeroContent1 {
    background-color: #0072b1;
    height: 90%;
    width: 30%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    transition: filter 300ms;
    overflow: hidden;
}

.HeroContent1:hover {
    border: 1px solid lightblue;
    filter: drop-shadow(0 0 2em #0072b1);
}

.HeroContent1:hover .HC1-1 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent1:hover .HC1-2 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent1:hover .HC-1T {
    display: none;
}

.HC-1T {
    animation: fadeIn 0.3s;
    display: block;
    color: white;
    font-size: 60px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    top: 5px;
    left: 65px;
}

.HC1-1 {
    display: none;
    background-color: #333;
    height: 100%;
    width: 60%;
}

.HC1-1 .TitleProfile {
    height: 20%;
    padding-left: 10px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 38px;
    overflow: hidden;
}

.TitleProfile h3 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.3px 0.3px 0 lightgreen;
    position: relative;
    bottom: 13px;
}

.LogoProfile {
    background-image: url("/src/Assets/Images/Profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    height: 100%;
    width: 20%;
}

.HC1-1 .ContentProfile {
    background-color: #0072b1;
    height: 80%;
    padding-left: 10px;
    overflow: hidden;
}

.ContentProfile p {
    color: white;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 10px;
}

.HC1-2 {
    display: none;
    background-image: url("/src/Assets/Images/Photo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 40%;
    border-left: 1px solid white;
}

.HeroContent2 {
    background-color: black;
    height: 90%;
    width: 30%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    transition: filter 300ms;
    overflow: hidden;
}

.HeroContent2:hover {
    border: 1px solid gray;
    filter: drop-shadow(0 0 2em black);
}

.HeroContent2:hover .HC2-1 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent2:hover .HC2-2 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent2:hover .HC-2T {
    display: none;
}

.HC-2T {
    animation: fadeIn 0.3s;
    display: block;
    color: white;
    font-size: 60px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    top: 5px;
    left: 50px;
}

.HC2-1 {
    display: none;
    background-color: #333;
    height: 100%;
    width: 60%;
}

.HC2-1 .TitleProjects {
    height: 20%;
    padding-left: 10px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
}

.TitleProjects h3 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.3px 0.3px 0 lightgreen;
    position: relative;
    bottom: 13px;
}

.LogoProjects {
    background-image: url("/src/Assets/Images/Projects.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    height: 100%;
    width: 20%;
}

.HC2-1 .ContentProjects {
    background-color: black;
    height: 80%;
    padding-left: 10px;
    overflow: hidden;
}

.ContentProjects p {
    color: white;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 10px;
}

.HC2-2 {
    display: none;
    background-color: #333;
    height: 100%;
    width: 40%;
    border-left: 1px solid white;
}

.HeroContent3 {
    background-color: #c4302b;
    height: 90%;
    width: 30%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    transition: filter 300ms;
    overflow: hidden;
}

.HeroContent3:hover {
    border: 1px solid lightcoral;
    filter: drop-shadow(0 0 2em #c4302b);
}

.HeroContent3:hover .HC3-1 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent3:hover .HC3-2 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent3:hover .HC-3T {
    display: none;
}

.HC-3T {
    animation: fadeIn 0.3s;
    display: block;
    color: white;
    font-size: 60px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    top: 5px;
    left: 85px;
}

.HC3-1 {
    display: none;
    background-color: #333;
    height: 100%;
    width: 60%;
}

.HC3-1 .TitleVideos {
    height: 20%;
    padding-left: 10px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 38px;
    overflow: hidden;
}

.TitleVideos h3 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.3px 0.3px 0 lightgreen;
    position: relative;
    bottom: 13px;
}

.LogoVideos {
    background-image: url("/src/Assets/Images/Videos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    height: 100%;
    width: 20%;
}

.HC3-1 .ContentVideos {
    background-color: #c4302b;
    height: 80%;
    padding-left: 10px;
    overflow: hidden;
}

.ContentVideos p {
    color: white;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 10px;
}

.HC3-2 {
    display: none;
    background-color: #333;
    height: 100%;
    width: 40%;
    border-left: 1px solid white;
}

/*Footer:*/
.Footer {
    min-height: 50px;
    width: 100%;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #03a062;
    margin-top: auto;
    margin-top: 30px;
}
