/*LoginPage:*/
.LoginPageContainer {
    animation: fadeIn 0.3s;
    height: 580px;
    width: 1244px;
    border-radius: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Back button:*/
.BackToFrontPage {
    background-color: #111;
    color: #03a062;
    height: 44px;
    width: 44px;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: filter 300ms;
    transition: background-color 500ms ease-in-out;
}

.BackToFrontPage:hover {
    background-color: lightgreen;
    filter: drop-shadow(0 0 2em #03a062);
}

/*Logo*/
.LogoRGContainer {
    height: 50%;
    width: 1244px;
}

.LogoRG {
    background-color: #111;
    background-image: url("/src/Assets/Images/LogoReactGreen.PNG");
    background-repeat: no-repeat;
    background-position: 49% 60%;
    background-size: 260%;
    height: 140px;
    width: 140px;
    border: 1px solid #03a062;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 534px;
    border-radius: 100%;
    transition: filter 300ms;
    transition: background-color 500ms ease-in-out;
}

.LogoRG:hover {
    background-color: lightgreen;
    filter: drop-shadow(0 0 2em #03a062);
    animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*Login:*/
.LoginContainer {
    height: 50%;
    width: 1244px;
}

.Login {
    background-color: #111;
    height: 380px;
    width: 300px;
    position: relative;
    bottom: 95px;
    left: 455px;
    border: 1px solid #03a062;
    border-radius: 10px;
}

.Login h2 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 lightgreen;
    position: relative;
    bottom: 15px;
    left: 80px;
}

.User {
    position: relative;
    bottom: 40px;
    left: 40px;
}

.Password {
    position: relative;
    bottom: 60px;
    left: 40px;
}

.Login h3 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    top: 10px;
}

.UsernameField {
    background-color: #03a062;
    border-radius: 50px;
    will-change: filter;
    transition: filter 300ms;
    transition: background-color 500ms ease-in-out;
}

.UsernameField:hover {
    background-color: lightgreen;
    filter: drop-shadow(0 0 2em #03a062);
}

.PasswordField {
    background-color: #03a062;
    border-radius: 50px;
    will-change: filter;
    transition: filter 300ms;
    transition: background-color 500ms ease-in-out;
}

.PasswordField:hover {
    background-color: lightgreen;
    filter: drop-shadow(0 0 2em #03a062);
}

.LoginButton {
    background-color: #111;
    color: #03a062;
    cursor: pointer;
    height: 48px;
    width: 207px;
    border-radius: 10px;
    border: 1px solid #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 40px;
    left: 47px;
}

.LoginButton:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}

.LoginGuestButton {
    background-color: #111;
    color: #03a062;
    cursor: pointer;
    height: 48px;
    width: 207px;
    border-radius: 10px;
    border: 1px solid #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 47px;
}

.LoginGuestButton:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}
