.terminalOverlay {
    background-color: green;
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.terminal {
    background-color: forestgreen;
    height: 580px;
    width: 746px;
    padding-bottom: 10px;
    border: 3px solid #111;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px #03a062;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: hidden;

    .terminalTitle {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .terminalTitleSiteName {
            color: #03a062;
            text-shadow: 0.5px 0.5px 0 lightgreen;
            animation: glow 1s ease-in-out infinite alternate;
        }

        @keyframes glow {
            from {
                text-shadow:
                    0 0 2px #fff,
                    0 0 5px #fff,
                    0 0 7px #03a062,
                    0 0 10px #03a062,
                    0 0 12px #03a062,
                    0 0 15px #03a062,
                    0 0 17px #03a062;
            }

            to {
                text-shadow:
                    0 0 5px #fff,
                    0 0 7px lightgreen,
                    0 0 10px lightgreen,
                    0 0 12px lightgreen,
                    0 0 15px lightgreen,
                    0 0 17px lightgreen,
                    0 0 20px lightgreen;
            }
        }

        h2 {
            color: #111;
            font-size: 30px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            text-shadow: 0.5px 0.5px 0 white;
            position: relative;
            bottom: 10px;
        }
    }

    .terminalInput {
        height: 80%;
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;

        .terminalInputField {
            background-color: lightgreen;
            height: 96%;
            width: 96%;
            border: 1px solid #111;
            border-radius: 5px;
            overflow: hidden;

            div {
                height: 6%;
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            p {
                color: green;
                font-size: 18px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-shadow: 0.3px 0.3px 0 lightgreen;
            }

            h3 {
                color: #03a062;
                width: 90%;
                font-size: 18px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-shadow: 0.3px 0.3px 0 lightgreen;
                margin-left: 5px;
            }

            input {
                background: transparent;
                color: green;
                width: 90%;
                font-size: 18px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-shadow: 0.3px 0.3px 0 lightgreen;
                border: none;
                outline: none;
                margin-left: 5px;
            }
        }
    }

    .terminalClose {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;

        .terminalCloseButton {
            background-color: red;
            color: white;
            cursor: pointer;
            height: 48px;
            width: 207px;
            border-radius: 10px;
            border: 1px solid white;
            font-size: 30px;
            font-style: italic;
            transition: filter 300ms;
        }

        .terminalCloseButton:hover {
            background-color: lightcoral;
            color: red;
            border: 1px solid red;
            transition: background-color 500ms ease-in-out;
        }
    }
}
