/*Programming page:*/
.ProgrammingPageContent {
    animation: fadeIn 0.3s;
    height: 593px;
    width: 1244px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*Programming container*/
.ProgrammingContainer {
    background-color: #333;
    height: 100%;
    width: 95%;
    border: 3px solid #03A062;
    border-radius: 10px;
  }

.ProgrammingTitle {
    height: 10%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.ProgrammingTitle h2 {
    color: #03A062;
    font-size: 30px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    text-decoration-line: underline;
}

.Programming {
    height: 80%;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.Programming p {
    color: #03A062;
    font-size: 25px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Back {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.BackButton {
    background-color: #333;
    color: #03A062;
    cursor: pointer;
    height: 48px;
    width: 207px;
    border-radius: 10px;
    border: 1px solid #03A062;
    font-size: 30px;
    font-style: italic;
    margin-top: 6px;
  }
  
  .BackButton:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03A062);
  }