/*Robotics page:*/
.RoboticsContainer {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Breadcrumb {
    background-color: lightgreen;
    height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #03a062;
}

/*Title:*/
.RoboticsTitle {
    background-color: #0072b1;
    height: 120px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.RoboticsTitle h2 {
    color: white;
    font-size: 70px;
    position: relative;
    bottom: 40px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Content:*/
.RoboticsContent {
    height: 500px;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.RoboticsContent p {
    color: #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.RPBack {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.RPBackButton {
    background-color: #111;
    color: #03a062;
    cursor: pointer;
    height: 48px;
    width: 207px;
    border-radius: 10px;
    border: 1px solid #03a062;
    font-size: 30px;
    font-style: italic;
    margin-top: 6px;
}

.RPBackButton:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}
