/*GoalsPage:*/
.gP {
    animation: fadeIn 0.3s;
    background-color: black;
    width: 100%;
    border-radius: 2px;
    box-shadow:
        0 0 30px 20px black,
        inset 0 0 30px 20px black;

    .goalsPageContainer {
        animation: fadeIn 0.3s;
        background-color: #111;
        max-width: 1244px;
        width: 100%;
        border: 0.1px solid grey;
        border-radius: 2px;
        margin: auto;
        box-shadow: 0 0 30px 5px #03a062;
        overflow: hidden;
    }
}

/*GoalsPageAdmin:*/
.goalsPageContainerAdmin {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumb {
        background-color: lightgreen;
        height: 30px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;

        h2 {
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 20px;
            left: 10px;
        }
    }

    .goal {
        background-color: #111;
        height: 200px;
        width: 90%;
        border: 1px solid #03a062;
        border-radius: 10px;
        overflow: hidden;
        display: flex;

        .goalSection1 {
            height: 100%;
            width: 80%;
            overflow: hidden;

            h3 {
                color: #03a062;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                left: 30px;
            }

            p {
                color: #03a062;
                font-size: 15px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                left: 30px;
            }
        }

        .goalSection2 {
            height: 100%;
            width: 20%;
            overflow: hidden;
            padding-top: 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Both:*/
.goalsPageTitleContainer {
    background-color: #111;
    height: 120px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;

    h2 {
        color: #03a062;
        font-size: 70px;
        position: relative;
        bottom: 50px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
}

.goalsCountContainer {
    background-color: #111;
    height: 60px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;

    p {
        color: #03a062;
        font-size: 30px;
        margin-left: 60px;
        margin-right: 60px;
        position: relative;
        bottom: 20px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
}

.goalsStatusContainer {
    background-color: #111;
    height: 60px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .gStatus1 {
        background-color: lightgreen;
        color: green;
        height: fit-content;
        width: fit-content;
        font-size: 25px;
        border: 1px solid green;
        border-radius: 5px;
        padding: 3px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .gStatus2 {
        background-color: lightcoral;
        color: red;
        height: fit-content;
        width: fit-content;
        font-size: 25px;
        border: 1px solid red;
        border-radius: 5px;
        padding: 3px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
}

.goalsPageContentContainer {
    background-color: #111;
    height: 80%;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    padding-top: 23px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    .goal {
        background-color: #111;
        height: 200px;
        width: 90%;
        border: 1px solid #03a062;
        border-radius: 10px;

        h3 {
            color: #03a062;
            font-size: 30px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            left: 30px;
        }

        p {
            color: #03a062;
            font-size: 15px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            left: 30px;
        }
    }

    .loadingGoalsData {
        height: 300px;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;

        .loaderGoals {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #03a062;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    .noGoalsData {
        height: 300px;
        width: 90%;
        overflow: hidden;

        h4 {
            width: fit-content;
            color: red;
            font-size: 60px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            border: 1px solid red;
            border-radius: 48%;
            padding: 20px;
            position: relative;
            top: 10px;
            left: 430px;
        }
    }
}

/*GoalsPage (mobile):*/
.goalsPageContainerMobile {
    animation: fadeIn 0.3s;
    background-color: #111;
    max-width: 1244px;
    width: 100%;
    border: 0.1px solid grey;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 30px 5px #03a062;
    overflow: hidden;
}

/*GoalsPageAdmin (mobile):*/
.goalsPageContainerAdminMobile {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 100%;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumbMobile {
        background-color: lightgreen;
        height: 20px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;
        padding-left: 5px;
        display: flex;
        justify-content: left;
        align-items: center;

        h2 {
            font-size: 10px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
    }

    .goalMobile {
        background-color: #111;
        height: fit-content;
        width: 100%;
        border: 1px solid #03a062;
        border-radius: 10px;
        overflow: hidden;
        display: flex;

        .goalSection1Mobile {
            height: 100%;
            width: 100%;
            overflow: hidden;

            h3 {
                color: #03a062;
                font-size: 10px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                left: 30px;
            }

            p {
                color: #03a062;
                font-size: 5px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                left: 30px;
            }
        }

        .goalSection2Mobile {
            height: 100%;
            width: 20%;
            overflow: hidden;
            padding-top: 8px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Both (mobile):*/
.goalsPageTitleContainerMobile {
    background-color: #111;
    height: 60px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: #03a062;
        font-size: 40px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
}

.goalsCountContainerMobile {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: #03a062;
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
}

.goalsStatusContainerMobile {
    background-color: #111;
    height: 60px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .gStatus1Mobile {
        background-color: lightgreen;
        color: green;
        height: fit-content;
        width: fit-content;
        font-size: 25px;
        border: 1px solid green;
        border-radius: 5px;
        padding: 3px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .gStatus2Mobile {
        background-color: lightcoral;
        color: red;
        height: fit-content;
        width: fit-content;
        font-size: 25px;
        border: 1px solid red;
        border-radius: 5px;
        padding: 3px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
}

.goalsPageContentContainerMobile {
    background-color: #111;
    height: 80%;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    padding-top: 23px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    .goalMobile {
        background-color: #111;
        height: fit-content;
        width: 90%;
        border: 1px solid #03a062;
        border-radius: 10px;

        h3 {
            color: #03a062;
            font-size: 12px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            left: 30px;
        }

        p {
            color: #03a062;
            font-size: 6px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            left: 30px;
        }
    }

    .loadingGoalsDataMobile {
        height: 300px;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;

        .loaderGoalsMobile {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #03a062;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    .noGoalsDataMobile {
        height: 300px;
        width: 90%;
        overflow: hidden;

        h4 {
            width: fit-content;
            color: red;
            font-size: 60px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            border: 1px solid red;
            border-radius: 48%;
            padding: 20px;
            position: relative;
            top: 10px;
            left: 12px;
        }
    }
}
