/*About page:*/
.AboutPageContainer {
    animation: fadeIn 0.3s;
    height: 580px;
    width: 1244px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*About container*/
.AboutContainer {
    background-color: #111;
    height: 100%;
    width: 60%;
    padding-bottom: 10px;
    border: 3px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
}

.AboutTitle {
    height: 10%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.AboutTitle h2 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 10px;
    text-decoration-line: underline;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.About {
    height: 80%;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.About p {
    color: #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.Back {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.AboutBackButton {
    background-color: #111;
    color: #03a062;
    cursor: pointer;
    height: 48px;
    width: 207px;
    border-radius: 10px;
    border: 1px solid #03a062;
    font-size: 30px;
    font-style: italic;
}

.AboutBackButton:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}
