/*ProfilePage:*/
.PFP {
    animation: fadeIn 0.3s;
    background-image: url("/src/Assets/Images/PageBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 2px;
    box-shadow:
        0 0 30px 20px black,
        inset 0 0 30px 20px black;
}

.ProfilePageContainer {
    animation: fadeIn 0.3s;
    background-color: #111;
    max-width: 1244px;
    width: 100%;
    border: 0.1px solid grey;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 30px 5px #03a062;
    overflow: hidden;
}

/*ProfilePageAdmin:*/
.ProfilePageContainerAdmin {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Breadcrumb {
    background-color: lightgreen;
    height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #03a062;
}

.Breadcrumb h2 {
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 20px;
    left: 10px;
}

/*Both:*/
.ProfilePageTitleContainer {
    background-color: #0072b1;
    height: 120px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.ProfilePageTitleContainer h2 {
    color: white;
    font-size: 70px;
    position: relative;
    bottom: 40px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.AboutMeContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.AboutMeTitle {
    background-color: #0072b1;
    height: 10%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.AboutMeTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.AboutMeContent {
    background-image: url("/src/Assets/Images/ProfileBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 12px;
}

.AboutMePhoto {
    background-image: url("/src/Assets/Images/Photo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    height: 70%;
    width: 15%;
    border-radius: 100%;
    border: 1px solid #03a062;
    position: relative;
    top: 20px;
    transition: filter 300ms;
}

.AboutMePhoto:hover {
    border: 1px solid white;
    filter: drop-shadow(0 0 2em #0072b1);
}

.AboutMeTextContainer {
    height: 90%;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #03a062;
    overflow: hidden;
}

.AboutMeTextTitle {
    background-color: #111;
    height: 20%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
}

.AboutMeTextTitle .h4_1 {
    color: #03a062;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 15px;
    left: 10px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.AboutMeTextTitle .h4_2 {
    color: #03a062;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 32px;
    left: 10px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.AboutMeText {
    background-color: #333;
    height: 80%;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

.AboutMeText p {
    color: white;
    font-size: 16px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.2;
    max-width: 975px;
    position: relative;
    left: 6px;
    bottom: 13px;
}

.LanguagesContainer {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.LanguagesTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.LanguagesTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.LanguagesContent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

.Language {
    height: 40px;
    width: 96%;
    border: 1px solid #03a062;
    border-radius: 10px;
}

.LanguageLogo {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.LanguageContent {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.LanguageContent h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 60%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.LanguageContent p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 40%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 40px;
}

.EducationsContainer {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.EducationsTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.EducationsTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.EducationsContent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

.Education {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: filter 300ms;
}

.Education:hover {
    border: 1px solid white;
    filter: drop-shadow(0 0 2em var(--education-color));
}

.EducationTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.EducationTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.EducationContent1 {
    height: 100px;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.EducationContent1 p {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.SchoolLogo {
    background-color: white;
    background-repeat: no-repeat;
    background-position: 30% 50%;
    background-size: 90%;
    height: 100%;
    width: 15%;
    border-bottom-right-radius: 10px;
    float: right;
    position: relative;
    bottom: 96px;
}

.EducationContent2 {
    background-color: #333;
    width: 100%;
    border-top: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}

.EducationContent2 p {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.5;
    max-width: 1200px;
}

.EducationContent2 .Subjects {
    color: #03a062;
    font-size: 15px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    max-width: 1200px;
}

.SkillsContainer {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.SkillsTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.SkillsTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.SkillsContent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

.Scripting {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
}

.STitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.STitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.SContent {
    background-color: #333;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.UtilitySoftware {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
}

.USTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.USTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.USContent {
    background-color: #333;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.ProgrammingLanguages {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
}

.PLTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.PLTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.PLContent {
    background-color: #333;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.PL11LogoBG {
    background-color: white;
    height: 32px;
    width: 23px;
    border-radius: 10px;
    position: relative;
    left: 12px;
    top: 5px;
}

.PL11LogoL {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.PL12LogoBG {
    background-color: white;
    height: 32px;
    width: 23px;
    border-radius: 9px;
    position: relative;
    left: 12px;
    top: 4px;
}

.PL12LogoL {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 103%;
    width: 100%;
    position: relative;
    bottom: 1px;
}

.Front-endDevelopment {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
}

.FEDTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.FEDTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.FEDContent {
    background-color: #333;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.Back-endDevelopment {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
}

.BEDTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.BEDTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.BEDContent {
    background-color: #333;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.Skill {
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.SkillLogo {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.SkillContent {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.SkillContent h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.SkillContent p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.SkillContent div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.ExperiencesContainer {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.ExperiencesTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.ExperiencesTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.ExperiencesContent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

.Experience {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: filter 300ms;
}

.Experience:hover {
    border: 1px solid white;
    filter: drop-shadow(0 0 2em var(--experience-color));
}

.ExperienceTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.ExperienceTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.ExperienceContent1 {
    height: 100px;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.ExperienceContent1 p {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ExperienceContent2 {
    background-color: #333;
    width: 100%;
    border-top: 1px solid white;
    padding-left: 10px;
    padding-right: 100px;
    padding-bottom: 5px;
    overflow: hidden;
}

.ExperienceContent2 p {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.5;
    max-width: 1200px;
}

.ExperienceContent2 .Tech {
    color: #03a062;
    font-size: 15px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    max-width: 1200px;
}

.CompanyLogo {
    background-color: white;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: 90%;
    height: 100px;
    width: 15%;
    float: right;
    position: relative;
    bottom: 96px;
}

.NoProfileData {
    height: 300px;
    width: 90%;
    overflow: hidden;
}

.NoProfileData h4 {
    width: fit-content;
    color: red;
    font-size: 60px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: 1px solid red;
    border-radius: 48%;
    padding: 20px;
    position: relative;
    top: 10px;
    left: 430px;
}

.InterestsContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.InterestsTitle {
    background-color: #0072b1;
    height: 10%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.InterestsTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.InterestsContent {
    background-image: url("/src/Assets/Images/InterestsBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 12px;
}

.Interest1 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Interest1:hover {
    filter: drop-shadow(0 0 2em white);
}

.Interest1:hover .Interest1ContentCover {
    display: block;
}

.Interest1Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Interest1Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Interest1Content {
    background-image: url("/src/Assets/Images/ITInfraBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Interest1ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Interest1ContentCoverLogo {
    background-image: url("/src/Assets/Images/ITInfra.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 20%;
    left: 25%;
}

.Interest2 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Interest2:hover {
    filter: drop-shadow(0 0 2em white);
}

.Interest2:hover .Interest2ContentCover {
    display: block;
}

.Interest2Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Interest2Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 5px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Interest2Content {
    background-image: url("/src/Assets/Images/ProgrammingIBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Interest2ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Interest2ContentCoverLogo {
    background-image: url("/src/Assets/Images/ProgrammingI.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.Interest3 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Interest3:hover {
    filter: drop-shadow(0 0 2em white);
}

.Interest3:hover .Interest3ContentCover {
    display: block;
}

.Interest3Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Interest3Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Interest3Content {
    background-image: url("/src/Assets/Images/RoboticsBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Interest3ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Interest3ContentCoverLogo {
    background-image: url("/src/Assets/Images/Robotics.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 80%;
    width: 30%;
    position: relative;
    top: 10%;
    left: 33%;
}

.HobbiesContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.HobbiesTitle {
    background-color: #0072b1;
    height: 10%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.HobbiesTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.HobbiesContent {
    background-image: url("/src/Assets/Images/HobbiesBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 12px;
}

.Hobby1 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Hobby1:hover {
    filter: drop-shadow(0 0 2em red);
}

.Hobby1:hover .Hobby1ContentCover {
    display: block;
}

.Hobby1Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Hobby1Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Hobby1Content {
    background-image: url("/src/Assets/Images/GamingBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Hobby1ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Hobby1ContentCoverLogo {
    background-image: url("/src/Assets/Images/OpenRA.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.Hobby2 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Hobby2:hover {
    filter: drop-shadow(0 0 2em blue);
}

.Hobby2:hover .Hobby2ContentCover {
    display: block;
}

.Hobby2Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Hobby2Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Hobby2Content {
    background-image: url("/src/Assets/Images/ProgrammingBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Hobby2ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Hobby2ContentCoverLogo {
    background-image: url("/src/Assets/Images/Programming.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.Hobby3 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Hobby3:hover {
    filter: drop-shadow(0 0 2em green);
}

.Hobby3:hover .Hobby3ContentCover {
    display: block;
}

.Hobby3Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Hobby3Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Hobby3Content {
    background-image: url("/src/Assets/Images/CampingBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Hobby3ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Hobby3ContentCoverLogo {
    background-image: url("/src/Assets/Images/Camping.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.ContactContainer {
    height: 510px;
    width: 100%;
    overflow: hidden;
}

.ContactTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.ContactTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.ContactContent {
    background-image: url("/src/Assets/Images/ContactBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 160px;
    gap: 80px;
}

.PhoneContainer {
    background-color: #111;
    height: 90%;
    width: 30%;
    border: 1px solid #03a062;
    box-shadow: 10px 5px 5px red;
    border-radius: 10px;
    position: relative;
    top: 20px;
}

.PhoneContainerTitle {
    height: 10%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.PhoneContainerTitle h3 {
    color: #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.PhoneContainerContent {
    height: 90%;
    width: 100%;
    border-top: 1px solid #03a062;
}

.Phone1 {
    height: 25%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #03a062;
    display: flex;
    justify-content: center;
}

.Phone1 h4 {
    color: #03a062;
    font-size: 26px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Phone2 {
    background-image: url("/src/Assets/Images/PhoneLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    height: 75%;
    width: 100%;
}

.EmailContainer {
    background-color: #111;
    height: 90%;
    width: 30%;
    border: 1px solid #03a062;
    border-radius: 10px;
    box-shadow: 10px 5px 5px blue;
    position: relative;
    top: 20px;
}

.EmailContainerTitle {
    height: 10%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.EmailContainerTitle h3 {
    color: #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.EmailContainerContent {
    height: 90%;
    width: 100%;
    border-top: 1px solid #03a062;
}

.Email1 {
    height: 25%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #03a062;
    display: flex;
    justify-content: center;
}

.Email1 h4 {
    color: #03a062;
    font-size: 26px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Email2 {
    background-image: url("/src/Assets/Images/EmailLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    height: 75%;
    width: 100%;
}
