/*ProjectsPage:*/
.pJP {
    animation: fadeIn 0.3s;
    background-color: black;
    width: 100%;
    border-radius: 2px;
    box-shadow:
        0 0 30px 20px black,
        inset 0 0 30px 20px black;

    .projectsPageContainer {
        animation: fadeIn 0.3s;
        background-color: #111;
        max-width: 1244px;
        width: 100%;
        border: 0.1px solid grey;
        border-radius: 2px;
        margin: auto;
        box-shadow: 0 0 30px 5px #03a062;
        overflow: hidden;

        .breadcrumb {
            background-color: lightgreen;
            height: 30px;
            overflow: hidden;
            border-bottom: 1px solid #03a062;
            display: flex;

            .breadcrumbLogo {
                background-image: url("/src/Assets/Images/Projects.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 70%;
                height: 100%;
                width: 3%;
            }

            .breadcrumbText {
                height: 100%;
                width: 97%;
                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 10px;

                h2 {
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Courier New", Courier, monospace;
                    cursor: default;
                }
            }
        }

        .projectTitle {
            display: none;
            background-color: black;
            height: 20%;
            width: 100%;
            overflow: hidden;

            h4 {
                color: white;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 28px;
                left: 10px;
                cursor: default;
            }
        }
    }
}

/*ProjectsPageAdmin:*/
.projectsPageContainerAdmin {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumb {
        background-color: lightgreen;
        height: 30px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;

        h2 {
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 20px;
            left: 10px;
            cursor: default;
        }
    }

    .createProject {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid white;
    }

    .projectTitle {
        background-color: black;
        height: 20%;
        width: 100%;
        overflow: hidden;

        .projectTitleSection1 {
            height: 100%;
            width: 80%;
            overflow: hidden;
            display: flex;
            align-items: center;

            h4 {
                color: white;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                padding-left: 10px;
                cursor: default;
            }
        }

        .projectTitleSection2 {
            height: 100%;
            width: 20%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: relative;
            bottom: 60px;
            left: 900px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Both:*/
.projectsPageTitleContainer {
    background-color: black;
    height: 120px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;

    h2 {
        color: white;
        font-size: 70px;
        position: relative;
        bottom: 40px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        cursor: default;
    }
}

.aboutMyProjectsContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;

    .aboutMyProjectsTitle {
        background-color: black;
        height: 10%;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid white;

        h3 {
            color: white;
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 23px;
            left: 10px;
            cursor: default;
        }
    }

    .aboutMyProjectsContent {
        background-image: url("/src/Assets/Images/ProjectsBG.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 12px;

        .aboutMyProjectsPhoto {
            background-image: url("/src/Assets/Images/Admin.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 70%;
            width: 15%;
            border-radius: 100%;
            border: 1px solid #03a062;
            position: relative;
            top: 20px;
            transition: filter 300ms;
        }

        .aboutMyProjectsPhoto:hover {
            border: 1px solid white;
            filter: drop-shadow(0 0 2em black);
        }

        .aboutMyProjectsTextContainer {
            height: 90%;
            width: 80%;
            border-radius: 10px;
            border: 1px solid #03a062;
            overflow: hidden;

            .aboutMyProjectsTextTitle {
                background-color: #111;
                height: 20%;
                width: 100%;
                overflow: hidden;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: 1px solid #03a062;

                .h4_1 {
                    color: #03a062;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    bottom: 15px;
                    left: 10px;
                    text-shadow: 0.3px 0.3px 0 lightgreen;
                    cursor: default;
                }

                .h4_2 {
                    color: #03a062;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    bottom: 32px;
                    left: 10px;
                    text-shadow: 0.3px 0.3px 0 lightgreen;
                    cursor: default;
                }
            }

            .aboutMyProjectsText {
                background-color: #333;
                height: 80%;
                width: 100%;
                overflow: hidden;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding-top: 5px;
                padding-left: 5px;

                p {
                    max-width: 975px;
                    color: white;
                    font-size: 16px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    line-height: 1.2;
                    position: relative;
                    left: 6px;
                    bottom: 13px;
                    cursor: default;
                }
            }
        }
    }
}

.portfolioContainer {
    height: 400px;
    width: 100%;
    border-top: 1px solid white;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .portfolioTitle {
        background-color: black;
        height: 30px;
        width: 100%;
        border-bottom: 1px solid white;
        overflow: hidden;
        display: flex;
        justify-content: left;
        align-items: center;

        h3 {
            color: white;
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
            margin-left: 10px;
        }
    }

    .portfolioContent {
        background-color: rgb(1, 44, 1);
        height: 200px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .pCBox {
            background-color: transparentize($color: darkgreen, $amount: 0.6);
            height: 90%;
            width: 96%;
            border: 0.5px solid gray;
            border-radius: 10px;
            text-decoration: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: border 300ms;
            transition: filter 300ms;

            .pCB1 {
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .portfolioImg {
                    background-image: url("/src/Assets/Images/Portfolio.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 160px;
                    width: 200px;
                }
            }

            .pCB2 {
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: left;
                align-items: center;

                p {
                    color: #03a062;
                    font-size: 60px;
                    font-style: italic;
                    font-family: "Courier New", Courier, monospace;
                }
            }
        }

        .pCBox:hover {
            border: 1px solid lightgreen;
            filter: drop-shadow(0 0 2em lightgreen);
        }
    }

    .space1 {
        background-color: rgb(1, 44, 1);
        height: 20px;
        width: 100%;
    }

    .or {
        background-color: #222;
        height: 100px;
        width: 100%;
        border-top: 0.5px solid gray;
        border-bottom: 0.5px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            color: #03a062;
            font-size: 35px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
        }
    }

    .space2 {
        background-color: rgb(1, 44, 1);
        height: 50px;
        width: 100%;
    }
}

.pinnedProjectsContainer {
    height: 236px;
    width: 100%;
    border-top: 1px solid white;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .pPSATitle {
        background-color: black;
        height: 30px;
        width: 100%;
        border-bottom: 1px solid white;
        overflow: hidden;
        display: flex;
        justify-content: left;
        align-items: center;

        h3 {
            color: white;
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
            margin-left: 10px;
        }
    }

    .pPSAContent {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .pinnedProject {
            background-color: black;
            height: 150px;
            width: 300px;
            border: 1px solid white;
            border-radius: 10px;
            text-decoration: none;
            cursor: pointer;
            overflow: hidden;
            transition: border 300ms;
            transition: filter 300ms;
            display: flex;
            flex-direction: column;

            .pPCoverTitle {
                display: block;
                animation: fadeIn 0.3s;
                background-color: black;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    display: block;
                    color: white;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    top: 40px;
                }
            }

            .pPTitle {
                visibility: hidden;
                height: 20%;
                width: 100%;
                border-bottom: 1px solid gray;
                display: flex;
                justify-content: left;
                align-items: center;

                p {
                    color: #03a062;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    margin-left: 10px;
                }
            }

            .pPContent {
                visibility: hidden;
                background-color: #222;
                height: 80%;
                width: 100%;
                display: flex;

                .projectLogo {
                    height: 100%;
                    width: 50%;
                    border-right: 1px solid gray;
                }

                .projectImage {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    width: 50%;
                }
            }
        }

        .pinnedProject:hover {
            border: 1px solid gray;
            filter: drop-shadow(0 0 2em black);
        }

        .pinnedProject:hover .pPCoverTitle {
            animation: fadeIn 0.3s;
            display: none;
        }

        .pinnedProject:hover .pPTitle {
            animation: fadeIn 0.3s;
            visibility: visible;
        }

        .pinnedProject:hover .pPContent {
            visibility: visible;
            opacity: 1;
        }

        .noPinnedProjectsYet {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: yellow;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid yellow;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }

        .loadingPinnedProjectsData {
            height: 300px;
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;

            .loaderPinnedProjects {
                border: 8px solid #f3f3f3;
                border-radius: 50%;
                border-top: 8px solid black;
                width: 60px;
                height: 60px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }

            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .noPinnedProjectsData {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: red;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid red;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }
    }
}

.projectsContainer {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;

    .projectsTitle {
        background-color: black;
        height: 30px;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid white;

        h3 {
            color: white;
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 23px;
            left: 10px;
            cursor: default;
        }
    }

    .projectsContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
        padding-bottom: 50px;

        .project {
            height: 300px;
            width: 90%;
            border: 1px solid white;
            border-radius: 10px;
            text-decoration: none;
            overflow: hidden;
            transition: border 300ms;
            transition: filter 300ms;

            .projectCoverTitle {
                animation: fadeIn 0.3s;
                background-color: black;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                h2 {
                    display: block;
                    color: white;
                    font-size: 60px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }
            }

            .projectContent {
                height: 80%;
                width: 100%;
                border-top: 1px solid gray;
                display: flex;
                visibility: hidden;
                opacity: 0;
                transition:
                    visibility 0.3s,
                    opacity 0.3s;

                .projectContentDescription {
                    background-color: #333;
                    height: 100%;
                    width: 70%;
                    border-right: 1px solid gray;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;

                    .pCDBox1 {
                        height: 20%;
                        width: 100%;
                        border-bottom: 1px solid gray;
                        overflow: hidden;

                        p {
                            color: #03a062;
                            font-size: 20px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            position: relative;
                            bottom: 8px;
                            left: 10px;
                            cursor: default;
                        }
                    }

                    .pCDBox2 {
                        height: 60%;
                        width: 100%;
                        overflow: hidden;

                        .pCDBox2Title {
                            height: 20%;
                            width: 100%;
                            text-decoration: underline;
                            text-decoration-color: #03a062;
                            overflow: hidden;

                            p {
                                color: #03a062;
                                font-size: 20px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 18px;
                                left: 10px;
                                cursor: default;
                            }
                        }

                        .pCDBox2Content {
                            height: 80%;
                            width: 100%;
                            overflow: hidden;

                            p {
                                color: white;
                                font-size: 15px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 10px;
                                left: 10px;
                                cursor: default;
                            }
                        }
                    }

                    .pCDBox3 {
                        height: 20%;
                        width: 100%;
                        border-top: 1px solid gray;
                        overflow: hidden;

                        p {
                            color: #03a062;
                            font-size: 20px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            position: relative;
                            bottom: 8px;
                            left: 10px;
                            cursor: default;
                        }
                    }
                }

                .projectContentOther {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: column;

                    .projectContentPhoto {
                        background-color: #111;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 80%;
                        width: 100%;
                    }

                    .projectContentButtons {
                        background-color: #111;
                        height: 20%;
                        width: 100%;
                        border-top: 1px solid gray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        .projectBtn1 {
                            background-color: white;
                            background-image: url("/src/Assets/Images/GitHub.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 105%;
                            height: 35px;
                            width: 35px;
                            cursor: pointer;
                            border: 1px solid white;
                            border-radius: 50%;
                            transition: filter 300ms;
                        }

                        .projectBtn1:hover {
                            filter: drop-shadow(0 0 2em black);
                        }

                        .projectBtn2 {
                            background-color: #111;
                            background-image: url("/src/Assets/Images/Projects.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 65%;
                            height: 35px;
                            width: 35px;
                            cursor: pointer;
                            border-radius: 50%;
                            border: 1px solid #03a062;
                            transition: filter 300ms;
                        }

                        .projectBtn2:hover {
                            background-color: lightgreen;
                            transition: background-color 500ms ease-in-out;
                            filter: drop-shadow(0 0 2em #03a062);
                        }

                        .projectBtn3 {
                            background-color: #111;
                            color: #03a062;
                            height: 35px;
                            width: 70px;
                            cursor: pointer;
                            border-radius: 5px;
                            border: 1px solid #03a062;
                            font-size: 12px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            transition: filter 300ms;
                        }

                        .projectBtn3:hover {
                            background-color: lightgreen;
                            transition: background-color 500ms ease-in-out;
                            filter: drop-shadow(0 0 2em #03a062);
                        }
                    }
                }
            }
        }

        .project:hover {
            border: 1px solid gray;
            filter: drop-shadow(0 0 2em black);
        }

        .project:hover .projectCoverTitle {
            animation: fadeIn 0.3s;
            display: none;
        }

        .project:hover .projectTitle {
            animation: fadeIn 0.3s;
            display: block;
        }

        .project:hover .projectContent {
            visibility: visible;
            opacity: 1;
        }

        .noProjectsYet {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: yellow;
                font-size: 60px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid yellow;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }

        .loadingProjectsData {
            height: 300px;
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;

            .loaderProjects {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid black;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }

            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .noProjectsData {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: red;
                font-size: 60px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid red;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }
    }
}

/*ProjectsPage (mobile):*/
.projectsPageContainerMobile {
    animation: fadeIn 0.3s;
    background-color: #111;
    max-width: 1244px;
    width: 100%;
    border: 0.1px solid grey;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 30px 5px #03a062;
    overflow: hidden;

    .breadcrumbMobile {
        background-color: lightgreen;
        height: 15px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;
        display: flex;

        .breadcrumbLogoMobile {
            background-image: url("/src/Assets/Images/Projects.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            height: 100%;
            width: 3%;
        }

        .breadcrumbTextMobile {
            height: 100%;
            width: 97%;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 5px;

            h2 {
                font-size: 10px;
                font-style: italic;
                font-family: "Courier New", Courier, monospace;
                cursor: default;
            }
        }
    }
}

/*ProjectsPageAdmin (mobile):*/
.projectsPageContainerAdminMobile {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 100%;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumbMobile {
        background-color: lightgreen;
        height: 20px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;
        padding-left: 5px;
        display: flex;
        justify-content: left;
        align-items: center;

        h2 {
            font-size: 10px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
        }
    }

    .createProjectMobile {
        height: 30px;
        width: 100%;
        border-bottom: 1px solid white;
    }

    .projectTitleMobile {
        background-color: black;
        height: 20%;
        width: 100%;
        overflow: hidden;

        .projectTitleSection1Mobile {
            height: 100%;
            width: 80%;
            overflow: hidden;
            display: flex;
            align-items: center;

            h4 {
                color: white;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                padding-left: 10px;
                position: relative;
                top: 0px;
                cursor: default;
            }
        }

        .projectTitleSection2Mobile {
            height: 100%;
            width: 20%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: relative;
            bottom: 60px;
            left: 900px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Both (mobile):*/
.projectsPageTitleContainerMobile {
    background-color: black;
    height: 60px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: white;
        font-size: 40px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        cursor: default;
    }
}

.aboutMyProjectsContainerMobile {
    height: 150px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;

    .aboutMyProjectsTitleMobile {
        background-color: black;
        height: 10%;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid white;
        padding-left: 5px;
        display: flex;
        align-items: center;

        h3 {
            color: white;
            font-size: 12px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
    }

    .aboutMyProjectsContentMobile {
        background-image: url("/src/Assets/Images/ProjectsBG.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-right: 2%;

        .aboutMyProjectsPhotoMobile {
            background-image: url("/src/Assets/Images/Admin.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100px;
            width: 100px;
            border-radius: 100%;
            border: 1px solid #03a062;
            transition: filter 300ms;
        }

        .aboutMyProjectsPhotoMobile:hover {
            border: 1px solid white;
            filter: drop-shadow(0 0 2em black);
        }

        .aboutMyProjectsTextContainerMobile {
            height: 90%;
            width: 65%;
            border-radius: 10px;
            border: 1px solid #03a062;
            overflow: hidden;

            .aboutMyProjectsTextTitleMobile {
                background-color: #111;
                height: 20%;
                width: 100%;
                overflow: hidden;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: 1px solid #03a062;

                .h4_1M {
                    color: #03a062;
                    font-size: 10px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    bottom: 13px;
                    left: 10px;
                    text-shadow: 0.3px 0.3px 0 lightgreen;
                    cursor: default;
                }

                .h4_2M {
                    color: #03a062;
                    font-size: 10px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    bottom: 26px;
                    left: 10px;
                    text-shadow: 0.3px 0.3px 0 lightgreen;
                    cursor: default;
                }
            }

            .aboutMyProjectsTextMobile {
                background-color: #333;
                height: 80%;
                width: 100%;
                overflow: hidden;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding-top: 5px;
                padding-left: 5px;

                p {
                    color: white;
                    font-size: 9px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    line-height: 1.2;
                    max-width: 96%;
                    position: relative;
                    bottom: 12px;
                    cursor: default;
                }
            }
        }
    }
}

.portfolioContainerMobile {
    height: 200px;
    width: 100%;
    border-top: 1px solid white;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .portfolioTitleMobile {
        background-color: black;
        height: 15px;
        width: 100%;
        border-bottom: 1px solid white;
        overflow: hidden;
        display: flex;
        justify-content: left;
        align-items: center;

        h3 {
            color: white;
            font-size: 12px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
            margin-left: 5px;
        }
    }

    .portfolioContentMobile {
        background-color: rgb(1, 44, 1);
        height: 100px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .pCBoxMobile {
            background-color: transparentize($color: darkgreen, $amount: 0.6);
            height: 90%;
            width: 96%;
            border: 0.5px solid gray;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: border 300ms;
            transition: filter 300ms;

            .pCB1M {
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .portfolioImgMobile {
                    background-image: url("/src/Assets/Images/Portfolio.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 80px;
                    width: 100px;
                }
            }

            .pCB2M {
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: left;
                align-items: center;

                p {
                    color: #03a062;
                    font-size: 18px;
                    font-style: italic;
                    font-family: "Courier New", Courier, monospace;
                }
            }
        }

        .pCBoxMobile:hover {
            border: 1px solid lightgreen;
            filter: drop-shadow(0 0 2em lightgreen);
        }
    }

    .space1Mobile {
        background-color: rgb(1, 44, 1);
        height: 10px;
        width: 100%;
    }

    .orMobile {
        background-color: #222;
        height: 50px;
        width: 100%;
        border-top: 0.5px solid gray;
        border-bottom: 0.5px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            color: #03a062;
            font-size: 12px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
        }
    }

    .space2Mobile {
        background-color: rgb(1, 44, 1);
        height: 25px;
        width: 100%;
    }
}

.pinnedProjectsContainerMobile {
    height: 115px;
    width: 100%;
    border-top: 1px solid white;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .pPSATitleMobile {
        background-color: black;
        height: 15px;
        width: 100%;
        border-bottom: 1px solid white;
        overflow: hidden;
        display: flex;
        justify-content: left;
        align-items: center;

        h3 {
            color: white;
            font-size: 12px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
            margin-left: 5px;
        }
    }

    .pPSAContentMobile {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .pinnedProjectMobile {
            background-color: black;
            height: 75px;
            width: 110px;
            border: 1px solid white;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            overflow: hidden;
            transition: border 300ms;
            transition: filter 300ms;
            display: flex;
            flex-direction: column;

            .pPCoverTitleMobile {
                display: block;
                animation: fadeIn 0.3s;
                background-color: black;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    display: block;
                    color: white;
                    font-size: 5px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    top: 20px;
                }
            }

            .pPTitleMobile {
                visibility: hidden;
                height: 20%;
                width: 100%;
                border-bottom: 1px solid gray;
                display: flex;
                justify-content: left;
                align-items: center;

                p {
                    color: #03a062;
                    font-size: 5px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    margin-left: 5px;
                }
            }

            .pPContentMobile {
                visibility: hidden;
                background-color: #222;
                height: 80%;
                width: 100%;
                display: flex;

                .projectLogoMobile {
                    height: 100%;
                    width: 50%;
                    border-right: 1px solid gray;
                }

                .projectImageMobile {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    width: 50%;
                }
            }
        }

        .pinnedProjectMobile:hover {
            border: 1px solid gray;
            filter: drop-shadow(0 0 2em black);
        }

        .pinnedProjectMobile:hover .pPCoverTitleMobile {
            animation: fadeIn 0.3s;
            display: none;
        }

        .pinnedProjectMobile:hover .pPTitleMobile {
            animation: fadeIn 0.3s;
            visibility: visible;
        }

        .pinnedProjectMobile:hover .pPContentMobile {
            visibility: visible;
            opacity: 1;
        }

        .noPinnedProjectsYetMobile {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: yellow;
                font-size: 20px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid yellow;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }

        .loadingPinnedProjectsDataMobile {
            height: 300px;
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;

            .loaderPinnedProjectsMobile {
                border: 8px solid #f3f3f3;
                border-radius: 50%;
                border-top: 8px solid black;
                width: 60px;
                height: 60px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }

            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .noPinnedProjectsDataMobile {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: red;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid red;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }
    }
}

.projectsContainerMobile {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;

    .projectsTitleMobile {
        background-color: black;
        height: 15px;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid white;
        padding-left: 5px;
        display: flex;
        align-items: center;

        h3 {
            color: white;
            font-size: 12px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
        }
    }

    .projectsContentMobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
        padding-bottom: 50px;

        .projectMobile {
            height: 150px;
            width: 90%;
            border: 1px solid white;
            border-radius: 10px;
            text-decoration: none;
            overflow: hidden;
            transition: border 300ms;
            transition: filter 300ms;

            .projectCoverTitleMobile {
                animation: fadeIn 0.3s;
                background-color: black;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                h2 {
                    display: block;
                    color: white;
                    font-size: 30px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }
            }

            .projectTitleMobile {
                display: none;
                background-color: black;
                height: 20%;
                width: 100%;
                overflow: hidden;

                h4 {
                    color: white;
                    font-size: 15px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    bottom: 14px;
                    left: 5px;
                    cursor: default;
                }
            }

            .projectContentMobile {
                height: 80%;
                width: 100%;
                border-top: 1px solid gray;
                display: flex;
                visibility: hidden;
                opacity: 0;
                transition:
                    visibility 0.3s,
                    opacity 0.3s;

                .projectContentDescriptionMobile {
                    background-color: #333;
                    height: 100%;
                    width: 70%;
                    border-right: 1px solid gray;
                    overflow: hidden;

                    .pCDBox1Mobile {
                        height: 20%;
                        width: 100%;
                        border-bottom: 1px solid gray;
                        overflow: hidden;

                        p {
                            color: #03a062;
                            font-size: 10px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            position: relative;
                            bottom: 4px;
                            left: 5px;
                            cursor: default;
                        }
                    }

                    .pCDBox2Mobile {
                        height: 60%;
                        width: 100%;
                        overflow: hidden;

                        .pCDBox2TitleMobile {
                            height: 20%;
                            width: 100%;
                            text-decoration: underline;
                            text-decoration-color: #03a062;
                            overflow: hidden;

                            p {
                                color: #03a062;
                                font-size: 10px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 9px;
                                left: 5px;
                                cursor: default;
                            }
                        }

                        .pCDBox2ContentMobile {
                            height: 80%;
                            width: 100%;
                            overflow: hidden;

                            p {
                                color: white;
                                font-size: 7px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 6px;
                                left: 5px;
                                cursor: default;
                            }
                        }
                    }

                    .pCDBox3Mobile {
                        height: 20%;
                        width: 100%;
                        border-top: 1px solid gray;
                        overflow: hidden;

                        p {
                            color: #03a062;
                            font-size: 10px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            position: relative;
                            bottom: 4px;
                            left: 5px;
                            cursor: default;
                        }
                    }
                }

                .projectContentOtherMobile {
                    height: 100%;
                    width: 30%;
                    display: flex;
                    flex-direction: column;

                    .projectContentPhotoMobile {
                        background-color: #111;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 80%;
                        width: 100%;
                    }

                    .projectContentButtonsMobile {
                        background-color: #111;
                        height: 20%;
                        width: 100%;
                        border-top: 1px solid gray;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10%;

                        .projectBtn1Mobile {
                            background-color: white;
                            background-image: url("/src/Assets/Images/GitHub.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 105%;
                            height: 15px;
                            width: 15px;
                            cursor: pointer;
                            border: 0.5px solid white;
                            border-radius: 50%;
                            transition: filter 300ms;
                        }

                        .projectBtn1Mobile:hover {
                            filter: drop-shadow(0 0 2em black);
                        }

                        .projectBtn2Mobile {
                            background-color: #111;
                            background-image: url("/src/Assets/Images/Projects.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 65%;
                            height: 15px;
                            width: 15px;
                            cursor: pointer;
                            border-radius: 50%;
                            border: 0.5px solid #03a062;
                            transition: filter 300ms;
                        }

                        .projectBtn2Mobile:hover {
                            background-color: lightgreen;
                            transition: background-color 500ms ease-in-out;
                            filter: drop-shadow(0 0 2em #03a062);
                        }

                        .projectBtn3Mobile {
                            background-color: #111;
                            color: #03a062;
                            height: 15px;
                            width: 30px;
                            cursor: pointer;
                            border-radius: 2px;
                            border: 0.5px solid #03a062;
                            font-size: 5px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            transition: filter 300ms;
                        }

                        .projectBtn3Mobile:hover {
                            background-color: lightgreen;
                            transition: background-color 500ms ease-in-out;
                            filter: drop-shadow(0 0 2em #03a062);
                        }
                    }
                }
            }
        }

        .projectMobile:hover {
            border: 1px solid gray;
            filter: drop-shadow(0 0 2em black);
        }

        .projectMobile:hover .projectCoverTitleMobile {
            animation: fadeIn 0.3s;
            display: none;
        }

        .projectMobile:hover .projectTitleMobile {
            animation: fadeIn 0.3s;
            display: block;
        }

        .projectMobile:hover .projectContentMobile {
            visibility: visible;
            opacity: 1;
        }

        .noProjectsYetMobile {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: yellow;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid yellow;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }

        .loadingProjectsDataMobile {
            height: 300px;
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;

            .loaderProjectsMobile {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid black;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }

            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .noProjectsDataMobile {
            height: 300px;
            width: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                width: fit-content;
                color: red;
                font-size: 60px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                border: 1px solid red;
                border-radius: 48%;
                padding: 20px;
                cursor: default;
            }
        }
    }
}
