/*LoginPage:*/
.loginPageContainer {
    animation: fadeIn 0.3s;
    height: 580px;
    width: 1244px;
    border-radius: 10px;

    .backToFrontPage1 {
        background-color: #111;
        color: #03a062;
        height: 44px;
        width: 44px;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 100%;
        border: 1px solid #03a062;
        font-size: 25px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        transition: filter 300ms;
        transition: background-color 500ms ease-in-out;
    }

    .backToFrontPage1:hover {
        background-color: lightgreen;
        filter: drop-shadow(0 0 2em #03a062);
    }

    .logoRGContainer {
        height: 50%;
        width: 1244px;

        .logoRG {
            background-color: transparent;
            backdrop-filter: blur(15px);
            background-image: url("/src/Assets/Images/LogoReactGreen.PNG");
            background-repeat: no-repeat;
            background-position: 49% 60%;
            background-size: 260%;
            height: 140px;
            width: 140px;
            border: 1px solid #03a062;
            cursor: pointer;
            position: relative;
            top: 5px;
            left: 534px;
            border-radius: 100%;
            transition: filter 300ms;
            transition: background-color 500ms ease-in-out;
        }

        .logoRG:hover {
            background-color: lightgreen;
            filter: drop-shadow(0 0 2em #03a062);
            animation: logo-spin infinite 20s linear;
        }

        @keyframes logo-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    .lPLoginContainer {
        height: 50%;
        width: 1244px;

        .lPLogin {
            background-color: transparent;
            backdrop-filter: blur(15px);
            height: 380px;
            width: 300px;
            position: relative;
            bottom: 95px;
            left: 455px;
            border: 1px solid #03a062;
            border-radius: 10px;

            h2 {
                color: #03a062;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-shadow: 0.5px 0.5px 0 lightgreen;
                position: relative;
                bottom: 15px;
                left: 80px;
                cursor: default;
            }

            .user {
                position: relative;
                bottom: 40px;
                left: 40px;

                h3 {
                    color: #03a062;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    top: 10px;
                    cursor: default;
                }

                .usernameField {
                    background-color: #03a062;
                    height: 50px;
                    width: 200px;
                    font-size: 16px;
                    border-radius: 50px;
                    outline-color: green;
                    padding-left: 10px;
                    will-change: filter;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                }

                .usernameFieldDisabled {
                    background-color: red;
                    height: 50px;
                    width: 200px;
                    font-size: 16px;
                    border-radius: 50px;
                    outline-color: red;
                    padding-left: 10px;
                    will-change: filter;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                    cursor: not-allowed;
                }

                ::placeholder {
                    color: #333;
                    opacity: 1;
                }

                ::-ms-input-placeholder {
                    color: #333;
                }

                .usernameField:hover {
                    background-color: lightgreen;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }

            .password {
                position: relative;
                bottom: 60px;
                left: 40px;

                h3 {
                    color: #03a062;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    top: 10px;
                    cursor: default;
                }

                .passwordField {
                    background-color: #03a062;
                    height: 50px;
                    width: 200px;
                    font-size: 16px;
                    border-radius: 50px;
                    outline-color: green;
                    padding-left: 10px;
                    will-change: filter;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                }

                .passwordFieldDisabled {
                    background-color: red;
                    height: 50px;
                    width: 200px;
                    font-size: 16px;
                    border-radius: 50px;
                    outline-color: red;
                    padding-left: 10px;
                    will-change: filter;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                    cursor: not-allowed;
                }

                ::placeholder {
                    color: #333;
                    opacity: 1;
                }

                ::-ms-input-placeholder {
                    color: #333;
                }

                .passwordField:hover {
                    background-color: lightgreen;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }

            .loginButton {
                background-color: #111;
                color: #03a062;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid #03a062;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 40px;
                left: 47px;
            }

            .loginButtonDisabled {
                background-color: lightgray;
                color: gray;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid gray;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 40px;
                left: 47px;
                cursor: not-allowed;
            }

            .loginButton:hover {
                background-color: lightgreen;
                transition: background-color 500ms ease-in-out;
                filter: drop-shadow(0 0 2em #03a062);
            }

            .backToFrontPage2 {
                background-color: #111;
                color: #03a062;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid #03a062;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 30px;
                left: 47px;
            }

            .backToFrontPage2:hover {
                background-color: lightgreen;
                transition: background-color 500ms ease-in-out;
                filter: drop-shadow(0 0 2em #03a062);
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*LoginPage (mobile):*/
.loginPageContainerMobile {
    animation: fadeIn 0.3s;
    height: 600px;
    width: 100%;
    overflow: hidden;

    .backToFrontPage1Mobile {
        background-color: #111;
        color: #03a062;
        height: 44px;
        width: 44px;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
        border-radius: 100%;
        border: 1px solid #03a062;
        font-size: 25px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        transition: filter 300ms;
        transition: background-color 500ms ease-in-out;
    }

    .backToFrontPage1Mobile:hover {
        background-color: lightgreen;
        filter: drop-shadow(0 0 2em #03a062);
    }

    .logoRGContainerMobile {
        height: 35%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logoRGMobile {
            background-color: transparent;
            backdrop-filter: blur(15px);
            background-image: url("/src/Assets/Images/LogoReactGreen.PNG");
            background-repeat: no-repeat;
            background-position: 49% 60%;
            background-size: 260%;
            height: 140px;
            width: 140px;
            border: 1px solid #03a062;
            cursor: pointer;
            border-radius: 100%;
            transition: filter 300ms;
            transition: background-color 500ms ease-in-out;
        }

        .logoRGMobile:hover {
            background-color: lightgreen;
            filter: drop-shadow(0 0 2em #03a062);
            animation: logo-spin infinite 20s linear;
        }

        @keyframes logo-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    .lPLoginContainerMobile {
        height: 65%;
        width: 100%;

        .lPLoginMobile {
            background-color: transparent;
            backdrop-filter: blur(15px);
            height: 380px;
            width: 300px;
            border: 1px solid #03a062;
            border-radius: 10px;

            h2 {
                color: #03a062;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-shadow: 0.5px 0.5px 0 lightgreen;
                position: relative;
                bottom: 15px;
                left: 80px;
                cursor: default;
            }

            .userMobile {
                position: relative;
                bottom: 40px;
                left: 40px;

                h3 {
                    color: #03a062;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    top: 10px;
                    cursor: default;
                }

                .usernameFieldMobile {
                    background-color: #03a062;
                    height: 50px;
                    width: 200px;
                    font-size: 16px;
                    border-radius: 50px;
                    outline-color: green;
                    padding-left: 10px;
                    will-change: filter;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                }

                .usernameFieldDisabledMobile {
                    background-color: red;
                    height: 50px;
                    width: 200px;
                    font-size: 16px;
                    border-radius: 50px;
                    outline-color: red;
                    padding-left: 10px;
                    will-change: filter;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                    cursor: not-allowed;
                }

                ::placeholder {
                    color: #333;
                    opacity: 1;
                }

                ::-ms-input-placeholder {
                    color: #333;
                }

                .usernameFieldMobile:hover {
                    background-color: lightgreen;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }

            .passwordMobile {
                position: relative;
                bottom: 60px;
                left: 40px;

                h3 {
                    color: #03a062;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    position: relative;
                    top: 10px;
                    cursor: default;
                }

                .passwordFieldMobile {
                    background-color: #03a062;
                    height: 50px;
                    width: 200px;
                    font-size: 16px;
                    border-radius: 50px;
                    outline-color: green;
                    padding-left: 10px;
                    will-change: filter;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                }

                .passwordFieldDisabledMobile {
                    background-color: red;
                    height: 50px;
                    width: 200px;
                    font-size: 16px;
                    border-radius: 50px;
                    outline-color: red;
                    padding-left: 10px;
                    will-change: filter;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                    cursor: not-allowed;
                }

                ::placeholder {
                    color: #333;
                    opacity: 1;
                }

                ::-ms-input-placeholder {
                    color: #333;
                }

                .passwordFieldMobile:hover {
                    background-color: lightgreen;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }

            .loginButtonMobile {
                background-color: #111;
                color: #03a062;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid #03a062;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 40px;
                left: 47px;
            }

            .loginButtonDisabledMobile {
                background-color: lightgray;
                color: gray;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid gray;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 40px;
                left: 47px;
                cursor: not-allowed;
            }

            .loginButtonMobile:hover {
                background-color: lightgreen;
                transition: background-color 500ms ease-in-out;
                filter: drop-shadow(0 0 2em #03a062);
            }

            .backToFrontPage2Mobile {
                background-color: #111;
                color: #03a062;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid #03a062;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 30px;
                left: 47px;
            }

            .backToFrontPage2Mobile:hover {
                background-color: lightgreen;
                transition: background-color 500ms ease-in-out;
                filter: drop-shadow(0 0 2em #03a062);
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
