/*LoginPage:*/
.LoginPageContainer {
    animation: fadeIn 0.3s;
    height: 580px;
    width: 1244px;
    border-radius: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Back button:*/
.BackToFrontPage {
    background-color: #333;
    color: #03a062;
    height: 44px;
    width: 44px;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: filter 300ms;
}

.BackToFrontPage:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}

/*Logos*/
.LogosContainer {
    height: 50%;
    width: 1244px;
}

.Logos {
    height: 230px;
    width: 300px;
    position: relative;
    bottom: 45px;
    left: 454px;
    border-radius: 100%;
}

.ThreeLogos {
    position: relative;
    top: 30px;
    right: 70px;
}

.logo.react {
    position: relative;
    right: 15px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    position: relative;
    right: 10px;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(1) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.logo_m {
    background-image: url("/src/Assets/Images/Logo.PNG");
    background-size: cover;
    background-color: black;
    cursor: pointer;
    transition: filter 300ms;
    height: 90px;
    width: 125px;
    border-radius: 10px;
    border: 1px solid #03a062;
    position: relative;
    bottom: 120px;
    left: 325px;
}

.logo_m:hover {
    border: 1px solid lightgreen;
    filter: drop-shadow(0 0 2em #03a062);
}

.Text {
    display: flex;
    justify-content: center;
}

.Text .React {
    background-color: #333;
    color: #61dbfb;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: 1px solid #61dbfb;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
    right: 10px;
    padding: 5px;
}

.Text .Plus {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    bottom: 95px;
    left: 15px;
}

.Text .Vite {
    background-color: #333;
    color: mediumorchid;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: 1px solid mediumorchid;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
    left: 35px;
    padding: 5px;
}

.Text .Equals {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    bottom: 95px;
    left: 45px;
}

.Text .App {
    background-color: #333;
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: 1px solid #03a062;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
    left: 58px;
    padding: 5px;
}

/*Login:*/
.LoginContainer {
    height: 50%;
    width: 1244px;
}

.Login {
    background-color: #333;
    height: 380px;
    width: 300px;
    position: relative;
    bottom: 95px;
    left: 455px;
    border: 1px solid #03a062;
    border-radius: 10px;
}

.Login h2 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 lightgreen;
    position: relative;
    bottom: 15px;
    left: 80px;
}

.User {
    position: relative;
    bottom: 40px;
    left: 40px;
}

.Password {
    position: relative;
    bottom: 60px;
    left: 40px;
}

.Login h3 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    top: 10px;
}

.UsernameField {
    background-color: #03a062;
    border-radius: 50px;
    will-change: filter;
    transition: filter 300ms;
}

.UsernameField:hover {
    background-color: lightgreen;
    filter: drop-shadow(0 0 2em #03a062);
}

.PasswordField {
    background-color: #03a062;
    border-radius: 50px;
    will-change: filter;
    transition: filter 300ms;
}

.PasswordField:hover {
    background-color: lightgreen;
    filter: drop-shadow(0 0 2em #03a062);
}

.LoginButton {
    background-color: #333;
    color: #03a062;
    cursor: pointer;
    height: 48px;
    width: 207px;
    border-radius: 10px;
    border: 1px solid #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 40px;
    left: 47px;
}

.LoginButton:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}

.LoginGuestButton {
    background-color: #333;
    color: #03a062;
    cursor: pointer;
    height: 48px;
    width: 207px;
    border-radius: 10px;
    border: 1px solid #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 47px;
}

.LoginGuestButton:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}
