.TodoAppContainer {
    background-color: #333;
    height: 600px;
    width: 30%;
    border: 1px solid #03A062;
    transition: filter 300ms;
    border-radius: 10px;
    padding: 10px;
}

.TodoAppContainer:hover {
    filter: drop-shadow(0 0 2em #03A062);
}

.TodoAppContainer h3 {
    color: #03A062;
    font-size: 30px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.TodoAppContainer input {
    background-color: #03A062;
    color: black;
    height: 48px;
    width: 207px;
    font-size: 30px;
    font-style: italic;
    border-radius: 50px;
    will-change: filter;
    transition: filter 300ms;
    padding-left: 15px;
}

.TodoAppContainer input:hover {
    background-color: lightgreen;
    filter: drop-shadow(0 0 2em #03A062);
}

.TodoAppContainer button {
    background-color: #333;
    color: #03A062;
    height: 48px;
    width: 135px;
    border-radius: 10px;
    border: 1px solid #03A062;
    font-size: 30px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 10px;
}

.TodoAppContainer button:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03A062);
}

.Todo {
    background-color: #333;
    height: 80px;
    width: 350px;
    border: 1px solid #03A062;
    border-radius: 10px;
    position: relative;
    right: 30px;
}

.Todo:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03A062);
}

.Todo .p1 {
    color: #03A062;
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    left: 10px;
}

.TodoAppContainer .p2 {
    color: #03A062;
    font-size: 20px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: fit-content;
    width: fit-content;
    position: relative;
    bottom: 20px;
    left: 10px;
}