/*ProfilePage:*/
.ProfilePageContainer {
    animation: fadeIn 0.3s;
    background-color: transparent;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Breadcrumb {
    background-color: lightgreen;
    height: 30px;
    overflow: hidden;
    border-bottom: 1px solid #03a062;
}

.Breadcrumb h2 {
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 20px;
    left: 10px;
}

/*Title:*/
.ProfilePageTitleContainer {
    background-color: #0072b1;
    height: 120px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.ProfilePageTitleContainer h2 {
    color: white;
    font-size: 70px;
    position: relative;
    bottom: 40px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*Content:*/
.AboutMeContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.AboutMeTitle {
    background-color: #0072b1;
    height: 10%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.AboutMeTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.AboutMeContent {
    background-image: url("/src/Assets/Images/ProfileBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 12px;
}

.AboutMePhoto {
    background-image: url("/src/Assets/Images/Photo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 15%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.AboutMePhoto:hover {
    border: 1px solid white;
    filter: drop-shadow(0 0 2em #0072b1);
}

.AboutMeLinkedInLogo {
    background-image: url("/src/Assets/Images/LinkedIn.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border: 1px solid white;
    border-radius: 10%;
    height: 30px;
    width: 30px;
    float: left;
    position: relative;
    top: 5px;
    left: 5px;
}

.AboutMeTextContainer {
    height: 90%;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #03a062;
    overflow: hidden;
}

.AboutMeTextTitle {
    background-color: #111;
    height: 20%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
}

.AboutMeTextTitle .h4_1 {
    color: #03a062;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 15px;
    left: 10px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.AboutMeTextTitle .h4_2 {
    color: #03a062;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 32px;
    left: 10px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.AboutMeText {
    background-color: #333;
    height: 80%;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

.AboutMeText p {
    color: white;
    font-size: 16px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.2;
    max-width: 975px;
    position: relative;
    left: 6px;
    bottom: 13px;
}

/*Languages:*/
.LanguagesContainer {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.LanguagesTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.LanguagesTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.LanguagesContent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2%;
    padding-right: 2%;
}

.Lang1 {
    background-color: white;
    height: 40px;
    width: 96%;
    border: 1px solid #03a062;
    border-radius: 10px;
}

.Lang1 h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    position: relative;
    bottom: 28px;
    left: 10px;
}

.Lang1 p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    position: relative;
    bottom: 88px;
    left: 780px;
}

.Lang2 {
    background-color: #012169;
    height: 40px;
    width: 96%;
    border: 1px solid #03a062;
    border-radius: 10px;
}

.Lang2 h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    position: relative;
    bottom: 28px;
    left: 10px;
}

.Lang2 p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    position: relative;
    bottom: 88px;
    left: 780px;
}

.Lang3 {
    background-color: #006aa7;
    height: 40px;
    width: 96%;
    border: 1px solid #03a062;
    border-radius: 10px;
}

.Lang3 h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    position: relative;
    bottom: 28px;
    left: 10px;
}

.Lang3 p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    position: relative;
    bottom: 88px;
    left: 780px;
}

/*Education:*/
.EducationContainer {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.EducationTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.EducationTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.EducationContent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

.EducationHighSchool {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: filter 300ms;
}

.EducationHighSchool:hover {
    border: 1px solid white;
    filter: drop-shadow(0 0 2em gray);
}

.EHSTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.EHSTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.EHSContent1 {
    background-color: gray;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.EHSContent1 p {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.EHSContent2 {
    background-color: #333;
    width: 100%;
    border-top: 1px solid #03a062;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}

.EHSContent2 p {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.5;
    max-width: 1200px;
}

.EHSContent2 .Tech {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "DejaVu Sans Mono, monospace";
}

.EducationMilitaryService {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: filter 300ms;
}

.EducationMilitaryService:hover {
    border: 1px solid white;
    filter: drop-shadow(0 0 2em red);
}

.EMSTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.EMSTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.EMSContent1 {
    background-color: red;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.EMSContent1 p {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.EMSContent2 {
    background-color: #333;
    width: 100%;
    border-top: 1px solid #03a062;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}

.EMSContent2 p {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.5;
    max-width: 1200px;
}

.EMSContent2 .Tech {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "DejaVu Sans Mono, monospace";
}

.MilitaryLogo {
    background-color: white;
    background-image: url("/src/Assets/Images/FDFLogo.svg");
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: 40%;
    height: 100%;
    width: 15%;
    border-bottom-right-radius: 10px;
    float: right;
    position: relative;
    bottom: 96px;
}

.EducationUniversityOfAppliedSciences {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: filter 300ms;
}

.EducationUniversityOfAppliedSciences:hover {
    border: 1px solid white;
    filter: drop-shadow(0 0 2em #00a5cd);
}

.EUOASTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.EUOASTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.EUOASContent1 {
    background-color: #00a5cd;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.EUOASContent1 p {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.SchoolLogo {
    background-color: white;
    background-image: url("/src/Assets/Images/SAMKLogo.png");
    background-repeat: no-repeat;
    background-position: 30% 50%;
    background-size: 90%;
    height: 100%;
    width: 15%;
    border-bottom-right-radius: 10px;
    float: right;
    position: relative;
    bottom: 96px;
}

.EUOASContent2 {
    background-color: #333;
    width: 100%;
    border-top: 1px solid #03a062;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}

.EUOASContent2 p {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.5;
    max-width: 1200px;
}

.EUOASContent2 .Tech {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "DejaVu Sans Mono, monospace";
}

/*Skills:*/
.SkillsContainer {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.SkillsTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.SkillsTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.SkillsContent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

.ProgrammingLanguages {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
}

.PLTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.PLTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.PLContent {
    background-color: #333;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.PL1 {
    background-color: #044f88;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL1Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/CppLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL1Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL1Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL1Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL1Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.PL2 {
    background-color: #f89820;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL2Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/JavaLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL2Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL2Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL2Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL2Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.PL3 {
    background-color: #682876;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL3Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/CsLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL3Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL3Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL3Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL3Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.PL4 {
    background-color: #e34c26;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL4Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/HTMLLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL4Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL4Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL4Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL4Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.PL5 {
    background-color: #264de4;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL5Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/CSSLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL5Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL5Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL5Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL5Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.PL6 {
    background-color: #f0db4f;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL6Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/JavaScriptLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL6Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL6Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL6Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL6Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.PL7 {
    background-color: #007acc;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL7Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/TypeScriptLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL7Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL7Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL7Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL7Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.PL8 {
    background-color: #00a5cd;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL8Logo {
    background-color: black;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL8LogoBG {
    background-color: white;
    height: 32px;
    width: 23px;
    border-radius: 10px;
    position: relative;
    left: 12px;
    top: 5px;
}

.PL8LogoL {
    background-image: url("/src/Assets/Images/SQLLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.PL8Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL8Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL8Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL8Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.PL9 {
    background-color: #0072b1;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL9Logo {
    background-color: black;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL9LogoBG {
    background-color: white;
    height: 32px;
    width: 23px;
    border-radius: 9px;
    position: relative;
    left: 12px;
    top: 4px;
}

.PL9LogoL {
    background-image: url("/src/Assets/Images/NoSQLLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 103%;
    width: 100%;
    position: relative;
    bottom: 1px;
}

.PL9Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL9Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL9Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL9Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.PL10 {
    background-color: #4b8bbe;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.PL10Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/PythonLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.PL10Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.PL10Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.PL10Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.PL10Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.Front-endDevelopment {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
}

.FEDTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.FEDTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.FEDContent {
    background-color: #333;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.FED1 {
    background-color: #61dbfb;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.FED1Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/React.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.FED1Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.FED1Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.FED1Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.FED1Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.Back-endDevelopment {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
}

.BEDTitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.BEDTitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.BEDContent {
    background-color: #333;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.BED1 {
    background-color: #215732;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.BED1Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/Node.jsLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.BED1Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.BED1Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.BED1Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.BED1Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

.BED2 {
    background-color: white;
    height: 40px;
    width: 96%;
    border: 1px solid black;
    border-radius: 10px;
}

.BED2Logo {
    background-color: black;
    background-image: url("/src/Assets/Images/ExpressLogo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;
    height: 100%;
    width: 4%;
    float: left;
    border-right: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.BED2Content {
    height: 100%;
    width: 96%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

.BED2Content h4 {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 70%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 68px;
}

.BED2Content p {
    color: black;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 gray;
    height: 100%;
    width: 20%;
    float: left;
    position: relative;
    bottom: 61px;
    left: 60px;
}

.BED2Content div {
    color: gray;
    font-size: 50px;
    text-shadow: 1px 1px 0 black;
    height: 100%;
    width: 10%;
    float: right;
    position: relative;
    bottom: 41px;
}

/*Experience:*/
.ExperienceContainer {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.ExperienceTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.ExperienceTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.ExperienceContent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
}

.ExperienceInternship {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: filter 300ms;
}

.ExperienceInternship:hover {
    border: 1px solid white;
    filter: drop-shadow(0 0 2em #b11226);
}

.EITitle {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.EITitle h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.EIContent1 {
    background-color: #b11226;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.EIContent1 p {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.EIContent2 {
    background-color: #333;
    width: 100%;
    border-top: 1px solid #03a062;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}

.EIContent2 p {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.5;
    max-width: 1200px;
}

.EIContent2 .Tech {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "DejaVu Sans Mono, monospace";
}

.CompanyLogo1 {
    background-color: white;
    background-image: url("/src/Assets/Images/VismaLogo.svg");
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: 90%;
    height: 100%;
    width: 15%;
    border-bottom-right-radius: 10px;
    float: right;
    position: relative;
    bottom: 96px;
}

.ExperienceJob1 {
    width: 98%;
    border: 1px solid #03a062;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: filter 300ms;
}

.ExperienceJob1:hover {
    border: 1px solid white;
    filter: drop-shadow(0 0 2em #b11226);
}

.EJ1Title {
    background-color: #111;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #03a062;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.EJ1Title h4 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 22px;
    text-shadow: 0.3px 0.3px 0 lightgreen;
}

.EJ1Content1 {
    background-color: #b11226;
    height: 100px;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.EJ1Content1 p {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.EJ1Content2 {
    background-color: #333;
    width: 100%;
    border-top: 1px solid #03a062;
    padding-left: 10px;
    padding-right: 100px;
    padding-bottom: 5px;
    overflow: hidden;
}

.EJ1Content2 p {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    line-height: 1.5;
    max-width: 1200px;
}

.EJ1Content2 .Tech {
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: "DejaVu Sans Mono, monospace";
}

.CompanyLogo2 {
    background-color: white;
    background-image: url("/src/Assets/Images/VismaLogo.svg");
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: 90%;
    height: 100px;
    width: 15%;
    float: right;
    position: relative;
    bottom: 96px;
}

/*Interests:*/
.InterestsContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.InterestsTitle {
    background-color: #0072b1;
    height: 10%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.InterestsTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.InterestsContent {
    background-image: url("/src/Assets/Images/InterestsBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 12px;
}

.Interest1 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Interest1:hover {
    filter: drop-shadow(0 0 2em white);
}

.Interest1:hover .Interest1ContentCover {
    display: block;
}

.Interest1Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Interest1Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Interest1Content {
    background-image: url("/src/Assets/Images/ITInfraBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Interest1ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Interest1ContentCoverLogo {
    background-image: url("/src/Assets/Images/ITInfra.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 20%;
    left: 25%;
}

.Interest2 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Interest2:hover {
    filter: drop-shadow(0 0 2em white);
}

.Interest2:hover .Interest2ContentCover {
    display: block;
}

.Interest2Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Interest2Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Interest2Content {
    background-image: url("/src/Assets/Images/ProgrammingIBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Interest2ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Interest2ContentCoverLogo {
    background-image: url("/src/Assets/Images/ProgrammingI.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.Interest3 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Interest3:hover {
    filter: drop-shadow(0 0 2em white);
}

.Interest3:hover .Interest3ContentCover {
    display: block;
}

.Interest3Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Interest3Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Interest3Content {
    background-image: url("/src/Assets/Images/RoboticsBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Interest3ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Interest3ContentCoverLogo {
    background-image: url("/src/Assets/Images/Robotics.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 80%;
    width: 30%;
    position: relative;
    top: 10%;
    left: 33%;
}

/*Hobbies:*/
.HobbiesContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.HobbiesTitle {
    background-color: #0072b1;
    height: 10%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.HobbiesTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.HobbiesContent {
    background-image: url("/src/Assets/Images/HobbiesBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 12px;
}

.Hobby1 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Hobby1:hover {
    filter: drop-shadow(0 0 2em red);
}

.Hobby1:hover .Hobby1ContentCover {
    display: block;
}

.Hobby1Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Hobby1Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Hobby1Content {
    background-image: url("/src/Assets/Images/GamingBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Hobby1ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Hobby1ContentCoverLogo {
    background-image: url("/src/Assets/Images/OpenRA.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.Hobby2 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Hobby2:hover {
    filter: drop-shadow(0 0 2em blue);
}

.Hobby2:hover .Hobby2ContentCover {
    display: block;
}

.Hobby2Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Hobby2Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Hobby2Content {
    background-image: url("/src/Assets/Images/ProgrammingBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Hobby2ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Hobby2ContentCoverLogo {
    background-image: url("/src/Assets/Images/Programming.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.Hobby3 {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid #03a062;
    transition: filter 300ms;
}

.Hobby3:hover {
    filter: drop-shadow(0 0 2em green);
}

.Hobby3:hover .Hobby3ContentCover {
    display: block;
}

.Hobby3Title {
    background-color: #111;
    color: #03a062;
    height: 20%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #03a062;
    overflow: hidden;
}

.Hobby3Title h4 {
    color: #03a062;
    font-size: 30px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 30px;
    left: 10px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Hobby3Content {
    background-image: url("/src/Assets/Images/CampingBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.Hobby3ContentCover {
    display: none;
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
}

.Hobby3ContentCoverLogo {
    background-image: url("/src/Assets/Images/Camping.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

/*Contact info:*/
.ContactContainer {
    height: 510px;
    width: 100%;
    overflow: hidden;
}

.ContactTitle {
    background-color: #0072b1;
    height: 30px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.ContactTitle h3 {
    color: white;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 23px;
    left: 10px;
}

.ContactContent {
    background-image: url("/src/Assets/Images/ContactBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 160px;
    gap: 80px;
}

.PhoneContainer {
    background-color: #111;
    height: 90%;
    width: 30%;
    border: 1px solid #03a062;
    box-shadow: 10px 5px 5px red;
    border-radius: 10px;
    position: relative;
    top: 20px;
}

.PhoneContainerTitle {
    height: 10%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.PhoneContainerTitle h3 {
    color: #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 18px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.PhoneContainerContent {
    height: 90%;
    width: 100%;
    border-top: 1px solid #03a062;
}

.Phone1 {
    height: 25%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #03a062;
    display: flex;
    justify-content: center;
}

.Phone1 h4 {
    color: #03a062;
    font-size: 26px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Phone2 {
    background-image: url("/src/Assets/Images/PhoneLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    height: 75%;
    width: 100%;
}

.EmailContainer {
    background-color: #111;
    height: 90%;
    width: 30%;
    border: 1px solid #03a062;
    border-radius: 10px;
    box-shadow: 10px 5px 5px blue;
    position: relative;
    top: 20px;
}

.EmailContainerTitle {
    height: 10%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.EmailContainerTitle h3 {
    color: #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 18px;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.EmailContainerContent {
    height: 90%;
    width: 100%;
    border-top: 1px solid #03a062;
}

.Email1 {
    height: 25%;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #03a062;
    display: flex;
    justify-content: center;
}

.Email1 h4 {
    color: #03a062;
    font-size: 26px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.5px 0.5px 0 lightgreen;
}

.Email2 {
    background-image: url("/src/Assets/Images/EmailLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    height: 75%;
    width: 100%;
}
