/*CRUDGoalsButton:*/
.goalsBtnContainer {
    height: 50px;
    width: 100%;
    border-top: 1px solid #03a062;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;

    .CRUDGoalsCreateBtnLoading {
        color: green;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        margin-right: 10px;
    }

    .goalsCreateBtn {
        animation: fadeIn 0.3s;
        background-color: green;
        color: white;
        cursor: pointer;
        height: 40px;
        width: 100px;
        border-radius: 5px;
        border: 1px solid white;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        margin-right: 10px;
    }

    .goalsCreateBtn:hover {
        background-color: lightgreen;
        color: green;
        border: 1px solid green;
        transition: background-color 500ms ease-in-out;
    }
}

.goalsBtnContainerMod {
    .CRUDGoalsUpdateBtnLoading {
        color: orange;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .goalsUpdateBtn {
        animation: fadeIn 0.3s;
        background-color: orange;
        color: white;
        cursor: pointer;
        height: 40px;
        width: 100px;
        border-radius: 5px;
        border: 1px solid white;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .goalsUpdateBtn:hover {
        background-color: yellow;
        color: orange;
        border: 1px solid orange;
        transition: background-color 500ms ease-in-out;
    }

    .CRUDGoalsDeleteBtnLoading {
        color: red;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .goalsDeleteBtn {
        animation: fadeIn 0.3s;
        background-color: red;
        color: white;
        cursor: pointer;
        height: 40px;
        width: 100px;
        border-radius: 5px;
        border: 1px solid white;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .goalsDeleteBtn:hover {
        background-color: lightcoral;
        color: red;
        border: 1px solid red;
        transition: background-color 500ms ease-in-out;
    }
}

.modalCreateGoalsOverlay {
    background-color: gray;
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modalCreateGoals {
    background-color: #111;
    height: 580px;
    width: 746px;
    padding-bottom: 10px;
    border: 3px solid #03a062;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px #03a062;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: hidden;

    .modalCreateGoalsHeader {
        height: 10%;
        width: 100%;
        border-bottom: 3px solid #03a062;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .mCGH-titleC {
            height: 100%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: #03a062;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-shadow: 0.5px 0.5px 0 lightgreen;
                position: relative;
                left: 30px;
            }
        }

        .mCGH-buttonC {
            height: 100%;
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            .modalCreateGoalsHeaderX-button {
                animation: fadeIn 0.3s;
                background-color: red;
                color: white;
                cursor: pointer;
                height: 30px;
                width: 30px;
                border: 1px solid white;
                border-radius: 5px;
                font-size: 20px;
                font-style: italic;
                position: relative;
                bottom: 8px;
                left: 16px;
            }
        }

        .modalCreateGoalsHeaderX-button:hover {
            background-color: lightcoral;
            color: red;
            border: 1px solid red;
            transition: background-color 500ms ease-in-out;
        }
    }

    .modalCreateGoalsContent {
        height: 90%;
        width: 100%;
        overflow: hidden;

        .formComponent {
            height: 20%;
            width: 100%;
            border: 0.5px solid lightgreen;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                label {
                    color: #03a062;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-decoration: underline;
                }

                input {
                    background-color: lightgreen;
                    color: black;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    border-radius: 5px;
                }
            }
        }

        .formFooter {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;

            .modalCreateGoalsBackButton {
                background-color: red;
                color: white;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid white;
                font-size: 30px;
                font-style: italic;
                transition: filter 300ms;
            }

            .modalCreateGoalsBackButton:hover {
                background-color: lightcoral;
                color: red;
                border: 1px solid red;
                transition: background-color 500ms ease-in-out;
            }

            .modalCreateGoalsCreateButton {
                background-color: green;
                color: white;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid white;
                font-size: 30px;
                font-style: italic;
                transition: filter 300ms;
            }

            .modalCreateGoalsCreateButton:hover {
                background-color: lightgreen;
                color: green;
                border: 1px solid green;
                transition: background-color 500ms ease-in-out;
            }
        }
    }
}

.modalUpdateGoalsOverlay {
    background-color: gray;
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modalUpdateGoals {
    background-color: #111;
    height: 580px;
    width: 746px;
    padding-bottom: 10px;
    border: 3px solid #03a062;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px #03a062;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: hidden;

    .modalUpdateGoalsHeader {
        height: 10%;
        width: 100%;
        border-bottom: 3px solid #03a062;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .mUGH-titleC {
            height: 100%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: #03a062;
                font-size: 30px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-shadow: 0.5px 0.5px 0 lightgreen;
                position: relative;
                left: 30px;
            }
        }

        .mUGH-buttonC {
            height: 100%;
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            .modalUpdateGoalsHeaderX-button {
                animation: fadeIn 0.3s;
                background-color: red;
                color: white;
                cursor: pointer;
                height: 30px;
                width: 30px;
                border: 1px solid white;
                border-radius: 5px;
                font-size: 20px;
                font-style: italic;
                position: relative;
                bottom: 8px;
                left: 16px;
            }
        }

        .modalUpdateGoalsHeaderX-button:hover {
            background-color: lightcoral;
            color: red;
            border: 1px solid red;
            transition: background-color 500ms ease-in-out;
        }
    }

    .modalUpdateGoalsContent {
        height: 90%;
        width: 100%;
        overflow: hidden;

        .formComponent {
            height: 20%;
            width: 100%;
            border: 0.5px solid lightgreen;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                label {
                    color: #03a062;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-decoration: underline;
                }

                input {
                    background-color: lightgreen;
                    color: black;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    border-radius: 5px;
                }
            }
        }

        .formFooter {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;

            .modalUpdateGoalsBackButton {
                background-color: red;
                color: white;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid white;
                font-size: 30px;
                font-style: italic;
                transition: filter 300ms;
            }

            .modalUpdateGoalsBackButton:hover {
                background-color: lightcoral;
                color: red;
                border: 1px solid red;
                transition: background-color 500ms ease-in-out;
            }

            .modalUpdateGoalsUpdateButton {
                background-color: orange;
                color: white;
                cursor: pointer;
                height: 48px;
                width: 207px;
                border-radius: 10px;
                border: 1px solid white;
                font-size: 30px;
                font-style: italic;
                transition: filter 300ms;
            }

            .modalUpdateGoalsUpdateButton:hover {
                background-color: yellow;
                color: orange;
                border: 1px solid orange;
                transition: background-color 500ms ease-in-out;
            }
        }
    }
}

/*CRUDGoalsButton (mobile):*/
.goalsBtnContainerMobile {
    height: 30px;
    width: 100%;
    border-top: 1px solid #03a062;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;

    .CRUDGoalsCreateBtnLoadingMobile {
        color: green;
        font-size: 5px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        margin-right: 10px;
    }

    .goalsCreateBtnMobile {
        animation: fadeIn 0.3s;
        background-color: green;
        color: white;
        cursor: pointer;
        height: 20px;
        width: 50px;
        border-radius: 2px;
        border: 0.3px solid white;
        font-size: 5px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        margin-right: 10px;
    }

    .goalsCreateBtnMobile:hover {
        background-color: lightgreen;
        color: green;
        border: 0.3px solid green;
        transition: background-color 500ms ease-in-out;
    }
}

.goalsBtnContainerModMobile {
    .CRUDGoalsUpdateBtnLoadingMobile {
        color: orange;
        font-size: 5px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .goalsUpdateBtnMobile {
        animation: fadeIn 0.3s;
        background-color: orange;
        color: white;
        cursor: pointer;
        height: 20px;
        width: 50px;
        border-radius: 2px;
        border: 0.3px solid white;
        font-size: 5px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .goalsUpdateBtnMobile:hover {
        background-color: yellow;
        color: orange;
        border: 0.3px solid orange;
        transition: background-color 500ms ease-in-out;
    }

    .CRUDGoalsDeleteBtnLoadingMobile {
        color: red;
        font-size: 5px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .goalsDeleteBtnMobile {
        animation: fadeIn 0.3s;
        background-color: red;
        color: white;
        cursor: pointer;
        height: 20px;
        width: 50px;
        border-radius: 2px;
        border: 0.3px solid white;
        font-size: 5px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .goalsDeleteBtnMobile:hover {
        background-color: lightcoral;
        color: red;
        border: 0.3px solid red;
        transition: background-color 500ms ease-in-out;
    }
}

.modalCreateGoalsOverlayMobile {
    background-color: gray;
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modalCreateGoalsMobile {
    background-color: #111;
    height: 380px;
    width: 98%;
    padding-bottom: 10px;
    border: 1px solid #03a062;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px #03a062;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: hidden;

    .modalCreateGoalsHeaderMobile {
        height: 10%;
        width: 100%;
        border-bottom: 1px solid #03a062;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .mCGH-titleCM {
            height: 100%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: #03a062;
                font-size: 20px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-shadow: 0.5px 0.5px 0 lightgreen;
                position: relative;
                left: 30px;
            }
        }

        .mCGH-buttonCM {
            height: 100%;
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            .modalCreateGoalsHeaderX-buttonMobile {
                animation: fadeIn 0.3s;
                background-color: red;
                color: white;
                cursor: pointer;
                height: 20px;
                width: 20px;
                border: 0.3px solid white;
                border-radius: 2px;
                font-size: 11px;
                font-style: italic;
                position: relative;
                bottom: 0px;
                left: 3px;
            }
        }

        .modalCreateGoalsHeaderX-buttonMobile:hover {
            background-color: lightcoral;
            color: red;
            border: 1px solid red;
            transition: background-color 500ms ease-in-out;
        }
    }

    .modalCreateGoalsContentMobile {
        height: 90%;
        width: 100%;
        overflow: hidden;

        .formComponentMobile {
            height: 20%;
            width: 100%;
            border: 0.5px solid lightgreen;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                label {
                    color: #03a062;
                    font-size: 15px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-decoration: underline;
                }

                input {
                    background-color: lightgreen;
                    color: black;
                    width: 150px;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    border-radius: 5px;
                }
            }
        }

        .formFooterMobile {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .modalCreateGoalsBackButtonMobile {
                background-color: red;
                color: white;
                cursor: pointer;
                height: 28px;
                width: 107px;
                border-radius: 5px;
                border: 0.3px solid white;
                font-size: 15px;
                font-style: italic;
                transition: filter 300ms;
            }

            .modalCreateGoalsBackButtonMobile:hover {
                background-color: lightcoral;
                color: red;
                border: 0.3px solid red;
                transition: background-color 500ms ease-in-out;
            }

            .modalCreateGoalsCreateButtonMobile {
                background-color: green;
                color: white;
                cursor: pointer;
                height: 28px;
                width: 107px;
                border-radius: 5px;
                border: 0.3px solid white;
                font-size: 15px;
                font-style: italic;
                transition: filter 300ms;
            }

            .modalCreateGoalsCreateButtonMobile:hover {
                background-color: lightgreen;
                color: green;
                border: 0.3px solid green;
                transition: background-color 500ms ease-in-out;
            }
        }
    }
}

.modalUpdateGoalsOverlayMobile {
    background-color: gray;
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.modalUpdateGoalsMobile {
    background-color: #111;
    height: 380px;
    width: 98%;
    padding-bottom: 10px;
    border: 1px solid #03a062;
    border-radius: 10px;
    box-shadow: 0 0 30px 5px #03a062;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow: hidden;

    .modalUpdateGoalsHeaderMobile {
        height: 10%;
        width: 100%;
        border-bottom: 1px solid #03a062;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .mUGH-titleCM {
            height: 100%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            h2 {
                color: #03a062;
                font-size: 20px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                text-shadow: 0.5px 0.5px 0 lightgreen;
                position: relative;
                left: 30px;
            }
        }

        .mUGH-buttonCM {
            height: 100%;
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            .modalUpdateGoalsHeaderX-buttonMobile {
                animation: fadeIn 0.3s;
                background-color: red;
                color: white;
                cursor: pointer;
                height: 20px;
                width: 20px;
                border: 0.3px solid white;
                border-radius: 2px;
                font-size: 11px;
                font-style: italic;
                position: relative;
                bottom: 0px;
                left: 3px;
            }
        }

        .modalUpdateGoalsHeaderX-buttonMobile:hover {
            background-color: lightcoral;
            color: red;
            border: 0.5px solid red;
            transition: background-color 500ms ease-in-out;
        }
    }

    .modalUpdateGoalsContentMobile {
        height: 90%;
        width: 100%;
        overflow: hidden;

        .formComponentMobile {
            height: 20%;
            width: 100%;
            border: 0.5px solid lightgreen;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                label {
                    color: #03a062;
                    font-size: 15px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-decoration: underline;
                }

                input {
                    background-color: lightgreen;
                    color: black;
                    width: 150px;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    border-radius: 5px;
                }
            }
        }

        .formFooterMobile {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .modalUpdateGoalsBackButtonMobile {
                background-color: red;
                color: white;
                cursor: pointer;
                height: 28px;
                width: 107px;
                border-radius: 5px;
                border: 0.5px solid white;
                font-size: 15px;
                font-style: italic;
                transition: filter 300ms;
            }

            .modalUpdateGoalsBackButtonMobile:hover {
                background-color: lightcoral;
                color: red;
                border: 0.5px solid red;
                transition: background-color 500ms ease-in-out;
            }

            .modalUpdateGoalsUpdateButtonMobile {
                background-color: orange;
                color: white;
                cursor: pointer;
                height: 28px;
                width: 107px;
                border-radius: 5px;
                border: 0.5px solid white;
                font-size: 15px;
                font-style: italic;
                transition: filter 300ms;
            }

            .modalUpdateGoalsUpdateButtonMobile:hover {
                background-color: yellow;
                color: orange;
                border: 0.5px solid orange;
                transition: background-color 500ms ease-in-out;
            }
        }
    }
}
