/*DBState:*/
.titleDBstateMain {
    background-color: lightgreen;
    color: green;
    font-size: 15px;
    border: 0.3px solid green;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    bottom: 3px;
    left: 10px;
    cursor: default;
}

.titleDBstateBackup {
    background-color: lightcoral;
    color: red;
    font-size: 15px;
    border: 0.3px solid red;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    bottom: 3px;
    left: 10px;
    cursor: default;
}

.titleDBloading {
    background-color: gray;
    color: white;
    font-size: 15px;
    border: 0.3px solid white;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    bottom: 3px;
    left: 10px;
    cursor: default;
}

/*DBState (mobile:)*/
.titleDBstateMainMobile {
    background-color: lightgreen;
    color: green;
    font-size: 7px;
    border: 0.3px solid green;
    border-radius: 2px;
    padding: 1px;
    position: relative;
    bottom: 1px;
    left: 5px;
    cursor: default;
}

.titleDBstateBackupMobile {
    background-color: lightcoral;
    color: red;
    font-size: 7px;
    border: 0.3px solid red;
    border-radius: 2px;
    padding: 1px;
    position: relative;
    bottom: 1px;
    left: 5px;
    cursor: default;
}

.titleDBloadingMobile {
    background-color: gray;
    color: white;
    font-size: 7px;
    border: 0.3px solid white;
    border-radius: 2px;
    padding: 1px;
    position: relative;
    bottom: 1px;
    left: 5px;
    cursor: default;
}
