.titleDBstateMain {
    background-color: lightgreen;
    color: green;
    font-size: 15px;
    border: 0.3px solid green;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    bottom: 3px;
    left: 10px;
}

.titleDBstateBackup {
    background-color: lightcoral;
    color: red;
    font-size: 15px;
    border: 0.3px solid red;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    bottom: 3px;
    left: 10px;
}

.titleDBloading {
    background-color: gray;
    color: white;
    font-size: 15px;
    border: 0.3px solid white;
    border-radius: 5px;
    padding: 3px;
    position: relative;
    bottom: 3px;
    left: 10px;
}
