/*FrontPage:*/
.FP {
    animation: fadeIn 0.3s;
    background-image: url("/src/Assets/Images/PageBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 2px;
    box-shadow:
        0 0 30px 20px black,
        inset 0 0 30px 20px black;
}

.FrontPageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Main:*/
.Main {
    min-height: 580px;
    max-width: 1244px;
    width: 100%;
    border: 0.1px solid grey;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 30px 5px #03a062;
    overflow: hidden;
}

.HeroSection {
    background-image: url("/src/Assets/Images/HeroSectionBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.HeroTitle {
    animation: fadeIn 0.3s;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.HTWelcome1 {
    color: #03a062;
    font-size: 2.26rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    height: 100vh;
    text-shadow: 0.5px 0.5px 0 lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

.HTW1text {
    width: 25ch;
    animation:
        typing 2s steps(22),
        blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    text-shadow:
        0 0 7px black,
        0 0 3px black;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.HTWelcome2 {
    color: #03a062;
    font-size: 2.26rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    height: 100vh;
    text-shadow: 0.5px 0.5px 0 lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 80px;
    left: 5px;
}

.HTWelcome2 p {
    text-shadow:
        0 0 7px black,
        0 0 3px black;
}

.HTW2animation {
    height: 50px;
    overflow: hidden;
}

.HTW2animation > div > div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.HTW2animation div:first-child {
    animation: text-animation 8s infinite;
    animation-delay: 3s;
}

.HTW2first div {
    color: green;
    text-shadow:
        0 0 7px black,
        0 0 3px black;
}

.HTW2second div {
    color: green;
    text-shadow:
        0 0 7px black,
        0 0 3px black;
}

.HTW2third div {
    color: green;
    text-shadow:
        0 0 7px black,
        0 0 3px black;
    position: relative;
    bottom: 4px;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0;
    }
    20% {
        margin-top: -5.62rem;
    }
    30% {
        margin-top: -5.62rem;
    }
    40% {
        margin-top: -11.24rem;
    }
    60% {
        margin-top: -11.24rem;
    }
    70% {
        margin-top: 0;
    }
    80% {
        margin-top: 0;
    }
}

.HTWelcome3 {
    background-color: black;
    border-radius: 20px;
    height: 100px;
    width: fit-content;
    box-shadow:
        0 0 10px black,
        0 0 20px black;
    position: relative;
    bottom: 80px;
}

.HTWelcome3 h3 {
    font-size: 100px;
    background: linear-gradient(to right, green, lightgreen, #03a062, green, lightgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    outline: none;
    margin-bottom: 0.8rem;
    text-align: center;
    animation: hover-effect 5s infinite;
    position: relative;
    bottom: 110px;
}

@keyframes hover-effect {
    0% {
        font-variation-settings: "wght" 582;
        letter-spacing: -2px;
    }
    50% {
        font-variation-settings: "wght" 400;
        letter-spacing: -3px;
    }
    100% {
        font-variation-settings: "wght" 582;
        letter-spacing: -2px;
    }
}

.HeroContent {
    animation: fadeIn 0.3s;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    padding-top: 10px;
}

.HeroContent1 {
    background-color: #0072b1;
    height: 90%;
    width: 30%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    transition: filter 300ms;
    overflow: hidden;
}

.HeroContent1:hover {
    border: 1px solid lightblue;
    filter: drop-shadow(0 0 2em #0072b1);
}

.HeroContent1:hover .HC1-1 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent1:hover .HC1-2 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent1:hover .HC-1T {
    display: none;
}

.HC-1T {
    animation: fadeIn 0.3s;
    display: block;
    color: white;
    font-size: 60px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    top: 5px;
    left: 65px;
}

.HC1-1 {
    display: none;
    background-color: #333;
    height: 100%;
    width: 60%;
}

.HC1-1 .TitleProfile {
    height: 20%;
    padding-left: 10px;
    border-bottom: 1px solid lightblue;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 38px;
    overflow: hidden;
}

.TitleProfile h3 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.3px 0.3px 0 lightgreen;
    position: relative;
    bottom: 13px;
}

.LogoProfile {
    background-image: url("/src/Assets/Images/Profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    height: 100%;
    width: 20%;
}

.HC1-1 .ContentProfile {
    background-color: #0072b1;
    height: 80%;
    padding-left: 10px;
    overflow: hidden;
}

.ContentProfile p {
    color: white;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 10px;
}

.HC1-2 {
    display: none;
    background-image: url("/src/Assets/Images/Photo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 40%;
    border-left: 1px solid lightblue;
}

.HeroContent2 {
    background-color: black;
    height: 90%;
    width: 30%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    transition: filter 300ms;
    overflow: hidden;
}

.HeroContent2:hover {
    border: 1px solid gray;
    filter: drop-shadow(0 0 2em black);
}

.HeroContent2:hover .HC2-1 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent2:hover .HC2-2 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent2:hover .HC-2T {
    display: none;
}

.HC-2T {
    animation: fadeIn 0.3s;
    display: block;
    color: white;
    font-size: 60px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    top: 5px;
    left: 50px;
}

.HC2-1 {
    display: none;
    background-color: #333;
    height: 100%;
    width: 60%;
}

.HC2-1 .TitleProjects {
    height: 20%;
    padding-left: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
}

.TitleProjects h3 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.3px 0.3px 0 lightgreen;
    position: relative;
    bottom: 13px;
}

.LogoProjects {
    background-image: url("/src/Assets/Images/Projects.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    height: 100%;
    width: 20%;
}

.HC2-1 .ContentProjects {
    background-color: black;
    height: 80%;
    padding-left: 10px;
    overflow: hidden;
}

.ContentProjects p {
    color: white;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 10px;
}

.HC2-2 {
    display: none;
    background-image: url("/src/Assets/Images/Admin.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 40%;
    border-left: 1px solid gray;
}

.HeroContent3 {
    background-color: #c4302b;
    height: 90%;
    width: 30%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    transition: filter 300ms;
    overflow: hidden;
}

.HeroContent3:hover {
    border: 1px solid lightcoral;
    filter: drop-shadow(0 0 2em #c4302b);
}

.HeroContent3:hover .HC3-1 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent3:hover .HC3-2 {
    animation: fadeIn 0.3s;
    display: block;
}

.HeroContent3:hover .HC-3T {
    display: none;
}

.HC-3T {
    animation: fadeIn 0.3s;
    display: block;
    color: white;
    font-size: 60px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    top: 5px;
    left: 85px;
}

.HC3-1 {
    display: none;
    background-color: #333;
    height: 100%;
    width: 60%;
}

.HC3-1 .TitleVideos {
    height: 20%;
    padding-left: 10px;
    border-bottom: 1px solid lightcoral;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 38px;
    overflow: hidden;
}

.TitleVideos h3 {
    color: #03a062;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 0.3px 0.3px 0 lightgreen;
    position: relative;
    bottom: 13px;
}

.LogoVideos {
    background-image: url("/src/Assets/Images/Videos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    height: 100%;
    width: 20%;
}

.HC3-1 .ContentVideos {
    background-color: #c4302b;
    height: 80%;
    padding-left: 10px;
    overflow: hidden;
}

.ContentVideos p {
    color: white;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    position: relative;
    bottom: 10px;
}

.HC3-2 {
    display: none;
    background-image: url("/src/Assets/Images/YouTubeUser.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 40%;
    border-left: 1px solid lightcoral;
}
