/*FrontPage:*/
.fP {
    animation: fadeIn 0.3s;
    background-image: url("/src/Assets/Images/PageBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 2px;
    box-shadow:
        0 0 30px 20px black,
        inset 0 0 30px 20px black;

    .frontPageContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        /*Main:*/
        .main {
            min-height: 580px;
            max-width: 1244px;
            width: 100%;
            border: 0.1px solid grey;
            border-radius: 2px;
            margin: auto;
            box-shadow: 0 0 30px 5px #03a062;
            overflow: hidden;
        }

        .heroSection {
            background-image: url("/src/Assets/Images/HeroSectionBG.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: transparent;
            height: 600px;
            width: 100%;
            overflow: hidden;

            .heroTitle {
                animation: fadeIn 0.3s;
                width: 100%;
                height: 65%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                .hTWelcome1 {
                    color: #03a062;
                    font-size: 2.26rem;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    height: 100vh;
                    text-shadow: 0.5px 0.5px 0 lightgreen;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    bottom: 10px;

                    .hTW1text {
                        width: 25ch;
                        animation:
                            typing 2s steps(22),
                            blink 0.5s step-end infinite alternate;
                        white-space: nowrap;
                        overflow: hidden;
                        font-family: monospace;
                        text-shadow:
                            0 0 7px black,
                            0 0 3px black;
                    }

                    @keyframes typing {
                        from {
                            width: 0;
                        }
                    }

                    @keyframes blink {
                        50% {
                            border-color: transparent;
                        }
                    }
                }

                .hTWelcome2 {
                    color: #03a062;
                    font-size: 2.26rem;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    height: 100vh;
                    text-shadow: 0.5px 0.5px 0 lightgreen;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    bottom: 80px;
                    left: 5px;

                    p {
                        text-shadow:
                            0 0 7px black,
                            0 0 3px black;
                    }

                    .hTW2animation {
                        height: 50px;
                        overflow: hidden;

                        .hTW2first div {
                            color: green;
                            text-shadow:
                                0 0 7px black,
                                0 0 3px black;
                            position: relative;
                            bottom: 6px;
                        }

                        .hTW2second div {
                            color: green;
                            text-shadow:
                                0 0 7px black,
                                0 0 3px black;
                            position: relative;
                            top: 6px;
                        }

                        .hTW2third div {
                            color: green;
                            text-shadow:
                                0 0 7px black,
                                0 0 3px black;
                            position: relative;
                            top: 9px;
                        }
                    }

                    .hTW2animation > div > div {
                        padding: 0.25rem 0.75rem;
                        height: 2.81rem;
                        margin-bottom: 2.81rem;
                        display: inline-block;
                    }

                    .hTW2animation div:first-child {
                        animation: text-animation 8s infinite;
                        animation-delay: 3s;
                    }

                    @keyframes text-animation {
                        0% {
                            margin-top: 0;
                        }
                        10% {
                            margin-top: 0;
                        }
                        20% {
                            margin-top: -5.62rem;
                        }
                        30% {
                            margin-top: -5.62rem;
                        }
                        40% {
                            margin-top: -11.24rem;
                        }
                        60% {
                            margin-top: -11.24rem;
                        }
                        70% {
                            margin-top: 0;
                        }
                        80% {
                            margin-top: 0;
                        }
                    }
                }

                .hTWelcome3 {
                    background-color: black;
                    border-radius: 20px;
                    height: 100px;
                    width: fit-content;
                    box-shadow:
                        0 0 10px black,
                        0 0 20px black;
                    position: relative;
                    bottom: 80px;

                    h3 {
                        font-size: 100px;
                        background: linear-gradient(to right, green, lightgreen, #03a062, green, lightgreen);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        letter-spacing: -3px;
                        transition: 700ms ease;
                        font-variation-settings: "wght" 311;
                        outline: none;
                        margin-bottom: 0.8rem;
                        text-align: center;
                        animation: hover-effect 5s infinite;
                        position: relative;
                        bottom: 110px;
                    }

                    @keyframes hover-effect {
                        0% {
                            font-variation-settings: "wght" 582;
                            letter-spacing: -2px;
                        }
                        50% {
                            font-variation-settings: "wght" 400;
                            letter-spacing: -3px;
                        }
                        100% {
                            font-variation-settings: "wght" 582;
                            letter-spacing: -2px;
                        }
                    }
                }
            }

            .heroContent {
                animation: fadeIn 0.3s;
                height: 35%;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: row;
                gap: 30px;
                padding-top: 10px;

                .heroContent1 {
                    background-color: #0072b1;
                    height: 90%;
                    width: 30%;
                    cursor: pointer;
                    border: 1px solid white;
                    border-radius: 10px;
                    display: flex;
                    transition: filter 300ms;
                    overflow: hidden;

                    .hC-1T {
                        animation: fadeIn 0.3s;
                        display: block;
                        color: white;
                        font-size: 60px;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        position: relative;
                        top: 5px;
                        left: 65px;
                    }

                    .hC1-1 {
                        display: none;
                        background-color: lightblue;
                        height: 100%;
                        width: 60%;

                        .titleProfile {
                            height: 20%;
                            padding-left: 10px;
                            border-bottom: 1px solid lightblue;
                            display: flex;
                            justify-content: center;
                            flex-direction: row;
                            gap: 38px;
                            overflow: hidden;

                            h3 {
                                color: #0072b1;
                                font-size: 20px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 13px;
                            }

                            .logoProfile {
                                background-image: url("/src/Assets/Images/Profile.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 60%;
                                height: 100%;
                                width: 20%;
                            }
                        }

                        .contentProfile {
                            background-color: #0072b1;
                            height: 80%;
                            padding-left: 10px;
                            overflow: hidden;

                            p {
                                color: white;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 10px;
                            }
                        }
                    }

                    .hC1-2 {
                        display: none;
                        background-image: url("/src/Assets/Images/Photo.jpeg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 100%;
                        width: 40%;
                        border-left: 1px solid lightblue;
                    }
                }

                .heroContent1:hover {
                    border: 1px solid lightblue;
                    filter: drop-shadow(0 0 2em #0072b1);
                }

                .heroContent1:hover .hC1-1 {
                    animation: fadeIn 0.3s;
                    display: block;
                }

                .heroContent1:hover .hC1-2 {
                    animation: fadeIn 0.3s;
                    display: block;
                }

                .heroContent1:hover .hC-1T {
                    display: none;
                }

                .heroContent2 {
                    background-color: black;
                    height: 90%;
                    width: 30%;
                    cursor: pointer;
                    border: 1px solid white;
                    border-radius: 10px;
                    display: flex;
                    transition: filter 300ms;
                    overflow: hidden;

                    .hC-2T {
                        animation: fadeIn 0.3s;
                        display: block;
                        color: white;
                        font-size: 60px;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        position: relative;
                        top: 5px;
                        left: 50px;
                    }

                    .hC2-1 {
                        display: none;
                        background-color: gray;
                        height: 100%;
                        width: 60%;

                        .titleProjects {
                            height: 20%;
                            padding-left: 10px;
                            border-bottom: 1px solid gray;
                            display: flex;
                            justify-content: center;
                            flex-direction: row;
                            gap: 20px;
                            overflow: hidden;

                            h3 {
                                color: black;
                                font-size: 20px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 13px;
                            }

                            .logoProjects {
                                background-image: url("/src/Assets/Images/Projects.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 60%;
                                height: 100%;
                                width: 20%;
                            }
                        }

                        .contentProjects {
                            background-color: black;
                            height: 80%;
                            padding-left: 10px;
                            overflow: hidden;

                            p {
                                color: white;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 10px;
                            }
                        }
                    }

                    .hC2-2 {
                        display: none;
                        background-image: url("/src/Assets/Images/Admin.jpeg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 100%;
                        width: 40%;
                        border-left: 1px solid gray;
                    }
                }

                .heroContent2:hover {
                    border: 1px solid gray;
                    filter: drop-shadow(0 0 2em black);
                }

                .heroContent2:hover .hC2-1 {
                    animation: fadeIn 0.3s;
                    display: block;
                }

                .heroContent2:hover .hC2-2 {
                    animation: fadeIn 0.3s;
                    display: block;
                }

                .heroContent2:hover .hC-2T {
                    display: none;
                }

                .heroContent3 {
                    background-color: #c4302b;
                    height: 90%;
                    width: 30%;
                    cursor: pointer;
                    border: 1px solid white;
                    border-radius: 10px;
                    display: flex;
                    transition: filter 300ms;
                    overflow: hidden;

                    .hC-3T {
                        animation: fadeIn 0.3s;
                        display: block;
                        color: white;
                        font-size: 60px;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        position: relative;
                        top: 5px;
                        left: 85px;
                    }

                    .hC3-1 {
                        display: none;
                        background-color: lightcoral;
                        height: 100%;
                        width: 60%;

                        .titleVideos {
                            height: 20%;
                            padding-left: 10px;
                            border-bottom: 1px solid lightcoral;
                            display: flex;
                            justify-content: center;
                            flex-direction: row;
                            gap: 38px;
                            overflow: hidden;

                            h3 {
                                color: #c4302b;
                                font-size: 20px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 13px;
                            }

                            .logoVideos {
                                background-image: url("/src/Assets/Images/Videos.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 60%;
                                height: 100%;
                                width: 20%;
                            }
                        }

                        .contentVideos {
                            background-color: #c4302b;
                            height: 80%;
                            padding-left: 10px;
                            overflow: hidden;

                            p {
                                color: white;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 10px;
                            }
                        }
                    }

                    .hC3-2 {
                        display: none;
                        background-image: url("/src/Assets/Images/VideosBG.jpg");
                        background-repeat: no-repeat;
                        background-size: 320%;
                        background-position: 53.5% 60%;
                        height: 100%;
                        width: 40%;
                        border-left: 1px solid lightcoral;
                    }
                }

                .heroContent3:hover {
                    border: 1px solid lightcoral;
                    filter: drop-shadow(0 0 2em #c4302b);
                }

                .heroContent3:hover .hC3-1 {
                    animation: fadeIn 0.3s;
                    display: block;
                }

                .heroContent3:hover .hC3-2 {
                    animation: fadeIn 0.3s;
                    display: block;
                }

                .heroContent3:hover .hC-3T {
                    display: none;
                }
            }
        }

        .technologySection {
            background-image: url("/src/Assets/Images/TechnologySectionBG.gif");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: transparent;
            height: 650px;
            width: 100%;
            box-shadow: inset 0 0 30px 20px #222;
            overflow: hidden;

            .technology {
                height: 100%;
                width: 1194px;
                margin-left: 50px;

                .technologyTitle {
                    height: 10%;
                    width: 100%;

                    h3 {
                        animation: fadeIn 0.3s;
                        color: #03a062;
                        font-size: 45px;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        text-shadow:
                            0 0 7px black,
                            0 0 3px black;
                    }
                }

                .technologyContent {
                    height: 90%;
                    width: 100%;

                    .technologyContentBox1 {
                        animation: fadeIn 0.3s;
                        background-color: #333;
                        backdrop-filter: blur(15px);
                        min-height: 335px;
                        width: 535px;
                        border: 1px inset darkblue;
                        border-radius: 10px;
                        box-shadow: 10px 5px 5px #111;
                        position: relative;
                        top: 30px;
                        overflow: hidden;

                        .tCB1Title {
                            background-color: #111;
                            height: 60px;
                            width: 100%;
                            border-bottom: 1px solid darkblue;
                            padding-left: 20px;
                            overflow: hidden;

                            h4 {
                                color: darkblue;
                                font-size: 40px;
                                font-style: italic;
                                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                position: relative;
                                bottom: 48px;
                            }
                        }

                        .tCB1Content {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 30px;

                            .tech {
                                background-color: #111;
                                height: 150px;
                                width: 150px;
                                border: 1px solid var(--tech-color);
                                border-radius: 10px;
                                margin-top: 60px;
                                overflow: hidden;
                                transition: filter 300ms;

                                .techTitle {
                                    height: 30px;
                                    width: 100%;
                                    border-bottom: 0.5px solid var(--tech-color);
                                    padding-left: 10px;
                                    overflow: hidden;

                                    h5 {
                                        font-style: italic;
                                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                        font-size: 20px;
                                        position: relative;
                                        bottom: 30px;
                                    }
                                }

                                .techLogo {
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 120px;
                                    width: 100%;
                                    overflow: hidden;
                                }
                            }

                            .tech:hover {
                                filter: drop-shadow(0 0 2em var(--tech-color));
                            }

                            .noTechData {
                                height: 90%;
                                width: 90%;
                                position: relative;
                                right: 340px;
                                bottom: 20px;

                                h4 {
                                    width: fit-content;
                                    color: red;
                                    font-size: 60px;
                                    font-style: italic;
                                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                    border: 1px solid red;
                                    border-radius: 48%;
                                    padding: 20px;
                                    position: relative;
                                    top: 10px;
                                    left: 430px;
                                }
                            }
                        }
                    }

                    .technologyContentBox2 {
                        animation: fadeIn 0.3s;
                        background-color: #333;
                        backdrop-filter: blur(15px);
                        min-height: 335px;
                        width: 535px;
                        border: 1px inset darkred;
                        border-radius: 10px;
                        box-shadow: 10px 5px 5px #111;
                        position: relative;
                        overflow: hidden;

                        .tCB2Title {
                            background-color: #111;
                            height: 60px;
                            width: 100%;
                            border-bottom: 1px solid darkred;
                            padding-left: 20px;
                            overflow: hidden;
                        }

                        .tCB2Title h4 {
                            color: darkred;
                            font-size: 40px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            position: relative;
                            bottom: 48px;
                        }

                        .tCB2Content {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 30px;

                            .tech {
                                background-color: #111;
                                height: 150px;
                                width: 150px;
                                border: 1px solid var(--tech-color);
                                border-radius: 10px;
                                margin-top: 60px;
                                overflow: hidden;
                                transition: filter 300ms;

                                .techTitle {
                                    height: 30px;
                                    width: 100%;
                                    border-bottom: 0.5px solid var(--tech-color);
                                    padding-left: 10px;
                                    overflow: hidden;

                                    h5 {
                                        font-style: italic;
                                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                        font-size: 20px;
                                        position: relative;
                                        bottom: 30px;
                                    }
                                }

                                .techLogo {
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    height: 120px;
                                    width: 100%;
                                    overflow: hidden;
                                }
                            }

                            .tech:hover {
                                filter: drop-shadow(0 0 2em var(--tech-color));
                            }

                            .noTechData {
                                height: 90%;
                                width: 90%;
                                position: relative;
                                right: 340px;
                                bottom: 20px;

                                h4 {
                                    width: fit-content;
                                    color: red;
                                    font-size: 60px;
                                    font-style: italic;
                                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                                    border: 1px solid red;
                                    border-radius: 48%;
                                    padding: 20px;
                                    position: relative;
                                    top: 10px;
                                    left: 430px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .professionSection {
            background-image: url("/src/Assets/Images/ProfessionSectionBG.gif");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: transparent;
            height: 650px;
            width: 100%;
            box-shadow: inset 0 0 30px 20px #222;
            overflow: hidden;

            .profession {
                height: 100%;
                width: 1194px;
                margin-left: 50px;

                .professionTitle {
                    height: 10%;
                    width: 100%;

                    h3 {
                        animation: fadeIn 0.3s;
                        color: #03a062;
                        font-size: 45px;
                        font-style: italic;
                        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                        text-shadow:
                            0 0 7px black,
                            0 0 3px black;
                    }
                }

                .professionContent {
                    height: 90%;
                    width: 100%;

                    .professionContentBox1 {
                        animation: fadeIn 0.3s;
                        background-color: transparent;
                        backdrop-filter: blur(15px);
                        width: 535px;
                        border: 1px inset #03a062;
                        border-radius: 10px;
                        box-shadow: 10px 5px 5px #111;
                        position: relative;
                        top: 30px;

                        p {
                            color: #03a062;
                            font-size: 30px;
                            font-style: italic;
                            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                            text-shadow:
                                0 0 7px black,
                                0 0 3px black;
                            max-width: 515px;
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    }

                    .professionContentBox2 {
                        animation: fadeIn 0.3s;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        filter: drop-shadow(0 0 2em var(--company-color));
                        border-radius: 10px;
                        position: relative;
                        bottom: 200px;
                        left: 650px;
                        animation: floating 3s ease-in-out infinite;
                    }

                    @keyframes floating {
                        0% {
                            transform: translate(0, 0px);
                        }
                        50% {
                            transform: translate(0, 5px);
                        }
                        100% {
                            transform: translate(0, -0px);
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
