/*HomePage:*/
.hP {
    animation: fadeIn 0.3s;
    background-color: black;
    width: 100%;
    border-radius: 2px;
    box-shadow:
        0 0 30px 20px black,
        inset 0 0 30px 20px black;

    .homePageContainer {
        animation: fadeIn 0.3s;
        max-width: 1244px;
        width: 100%;
        border: 0.1px solid grey;
        border-radius: 2px;
        margin: auto;
        box-shadow: 0 0 30px 5px #03a062;
        overflow: hidden;
    }
}

/*HomePageAdmin:*/
.homePageContainerAdmin {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumb {
        background-color: lightgreen;
        height: 30px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;

        h2 {
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 20px;
            left: 10px;
        }
    }
}

/*Both:*/
.homePageTitleContainer {
    background-color: #111;
    height: 120px;
    width: 100%;
    border-top: 1px solid #03a062;
    display: flex;
    justify-content: center;
    overflow: hidden;

    h2 {
        color: #03a062;
        font-size: 70px;
        position: relative;
        bottom: 50px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
}

.firstSectionContainer {
    background-color: #111;
    width: 1244px;
    overflow: hidden;

    .homeFirstSectionCarousel {
        width: 100%;
        border-top: 1px solid #03a062;
        box-shadow: inset 0 0 30px 5px green;
        overflow: hidden;
        z-index: 1;
    }

    .homeFirstSection1 {
        height: 360px;
        width: 100%;
        border-top: 1px solid #03a062;
        border-bottom: 1px solid #03a062;

        .checkMyProfile {
            background-color: #0072b1;
            height: 10%;
            width: 100%;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            overflow: hidden;

            h2 {
                color: white;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 15px;
                left: 10px;
                overflow: hidden;
            }
        }

        .goToMyProfile {
            background-image: url("/src/Assets/Images/ProfileBG.jpg");
            background-repeat: no-repeat;
            background-size: 100% 180%;
            background-position: center;
            height: 90%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 50px;

            .photo {
                background-image: url("/src/Assets/Images/Photo.jpeg");
                background-repeat: no-repeat;
                background-size: cover;
                background-color: black;
                border: 5px solid #0072b1;
                height: 80%;
                width: 20%;
                border-radius: 100%;
                margin-top: 30px;
                transition: filter 300ms;
                transition: border 300ms;
            }

            .photo:hover {
                border: 5px solid white;
                filter: drop-shadow(0 0 2em #0072b1);
            }

            .profileTextBox {
                background-color: lightblue;
                height: 60%;
                width: 18%;
                border-radius: 10px;
                margin-top: 30px;
                border: 1px solid #0072b1;
                padding-left: 15px;

                a {
                    background-image: url("/src/Assets/Images/LinkedIn.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: white;
                    border: 1px solid white;
                    border-radius: 10%;
                    height: 50px;
                    width: 50px;
                    float: right;
                    margin-right: 10px;
                    position: relative;
                    top: 10px;
                    transition: filter 300ms;
                }

                a:hover {
                    filter: drop-shadow(0 0 2em #0072b1);
                }

                h3 {
                    background-color: #0072b1;
                    color: white;
                    border: 1px solid white;
                    height: 20px;
                    width: 70px;
                    border-radius: 10px;
                    padding: 7px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }

                p {
                    color: #0072b1;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-shadow: 0.5px 0.5px 0 white;
                }

                .loadingProfessionData {
                    height: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 14px;
                    position: relative;
                    right: 65px;

                    .loaderProfessionData {
                        border: 4px solid #f3f3f3;
                        border-radius: 50%;
                        border-top: 4px solid #0072b1;
                        width: 20px;
                        height: 20px;
                        -webkit-animation: spin 2s linear infinite;
                        animation: spin 2s linear infinite;
                    }

                    @-webkit-keyframes spin {
                        0% {
                            -webkit-transform: rotate(0deg);
                        }
                        100% {
                            -webkit-transform: rotate(360deg);
                        }
                    }

                    @keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }

                .goToProfile {
                    background-color: #0072b1;
                    color: white;
                    cursor: pointer;
                    height: 48px;
                    width: 207px;
                    float: left;
                    border-radius: 10px;
                    border: 1px solid white;
                    font-size: 30px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    transition: filter 300ms;
                }

                .goToProfile:hover {
                    background-color: lightblue;
                    transition: background-color 500ms ease-in-out;
                    filter: drop-shadow(0 0 2em #0072b1);
                }
            }

            .box1 {
                height: 80%;
                width: 45%;
                border-radius: 10px;
                margin-top: 30px;
                padding-left: 10px;
            }
        }
    }

    .homeFirstSection2 {
        height: 360px;
        width: 100%;

        .checkMyProjects {
            background-color: black;
            height: 10%;
            width: 100%;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            overflow: hidden;

            h2 {
                color: white;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 15px;
                left: 10px;
            }
        }

        .goToMyProjects {
            background-image: url("/src/Assets/Images/ProjectsBG.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            height: 90%;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 50px;

            .gHLogo {
                background-image: url("/src/Assets/Images/Admin.jpeg");
                background-color: white;
                border: 5px solid black;
                background-size: cover;
                background-position: center;
                height: 80%;
                width: 20%;
                border-radius: 100%;
                margin-top: 30px;
                transition: filter 300ms;
                transition: border 300ms;
            }

            .gHLogo:hover {
                border: 5px solid white;
                filter: drop-shadow(0 0 2em black);
            }

            .projectsTextBox {
                background-color: gray;
                height: 60%;
                width: 18%;
                border-radius: 10px;
                margin-top: 30px;
                border: 1px solid black;
                padding-left: 15px;

                a {
                    background-image: url("/src/Assets/Images/GitHub.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-color: white;
                    border: 1px solid white;
                    border-radius: 100%;
                    height: 45px;
                    width: 50px;
                    float: right;
                    margin-right: 10px;
                    position: relative;
                    top: 10px;
                    transition: filter 300ms;
                }

                a:hover {
                    filter: drop-shadow(0 0 2em black);
                }

                h3 {
                    background-color: black;
                    color: white;
                    border: 1px solid white;
                    height: 20px;
                    width: 58px;
                    border-radius: 10px;
                    padding: 7px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }

                p {
                    color: black;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-shadow: 0.5px 0.5px 0 white;
                }

                .goToProjects {
                    background-color: black;
                    color: white;
                    cursor: pointer;
                    height: 48px;
                    width: 207px;
                    float: left;
                    border-radius: 10px;
                    border: 1px solid white;
                    font-size: 30px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    transition: filter 300ms;
                }

                .goToProjects:hover {
                    background-color: gray;
                    transition: background-color 500ms ease-in-out;
                    filter: drop-shadow(0 0 2em black);
                }
            }

            .box2 {
                height: 80%;
                width: 45%;
                border-radius: 10px;
                margin-top: 30px;
                padding-left: 10px;
            }
        }
    }

    .homeFirstSection3 {
        height: 360px;
        width: 100%;

        .checkMyVideos {
            background-color: #c4302b;
            height: 10%;
            width: 100%;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            overflow: hidden;

            h2 {
                color: white;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 15px;
                left: 10px;
            }
        }

        .goToMyVideos {
            background-image: url("/src/Assets/Images/VideosBG.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            height: 90%;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 50px;

            .yTLogo {
                background-image: url("/src/Assets/Images/VideosBG.jpg");
                background-color: white;
                border: 5px solid #c4302b;
                background-size: 280%;
                background-position: 53.5% 60%;
                height: 80%;
                width: 20%;
                border-radius: 100%;
                margin-top: 30px;
                transition: filter 300ms;
                transition: border 300ms;
            }

            .yTLogo:hover {
                border: 5px solid white;
                filter: drop-shadow(0 0 2em #c4302b);
            }

            .videosTextBox {
                background-color: lightcoral;
                height: 60%;
                width: 18%;
                border-radius: 10px;
                margin-top: 30px;
                border: 1px solid #c4302b;
                padding-left: 15px;

                a {
                    background-image: url("/src/Assets/Images/YouTube.png");
                    background-repeat: no-repeat;
                    background-size: 300%;
                    background-position: center;
                    background-color: white;
                    border: 1px solid white;
                    border-radius: 10px;
                    height: 45px;
                    width: 60px;
                    float: right;
                    margin-right: 10px;
                    position: relative;
                    top: 10px;
                    transition: filter 300ms;
                }

                a:hover {
                    filter: drop-shadow(0 0 2em #c4302b);
                }

                h3 {
                    background-color: #c4302b;
                    color: white;
                    border: 1px solid white;
                    height: 20px;
                    width: 68px;
                    border-radius: 10px;
                    padding: 7px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }

                p {
                    color: #c4302b;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-shadow: 0.5px 0.5px 0 white;
                }

                .goToVideos {
                    background-color: #c4302b;
                    color: white;
                    cursor: pointer;
                    height: 48px;
                    width: 207px;
                    float: left;
                    border-radius: 10px;
                    border: 1px solid white;
                    font-size: 30px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    transition: filter 300ms;
                }

                .goToVideos:hover {
                    background-color: lightcoral;
                    transition: background-color 500ms ease-in-out;
                    filter: drop-shadow(0 0 2em #c4302b);
                }
            }

            .box3 {
                height: 80%;
                width: 45%;
                border-radius: 10px;
                margin-top: 30px;
                padding-left: 10px;
            }
        }
    }

    .homeFirstSection4 {
        height: 360px;
        width: 100%;

        .checkMyGoals {
            background-color: #111;
            height: 10%;
            width: 100%;
            border-top: 1px solid #03a062;
            border-bottom: 1px solid #03a062;
            overflow: hidden;

            h2 {
                color: #03a062;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 15px;
                left: 10px;
            }
        }

        .goToMyGoals {
            background-color: #111;
            height: 90%;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 50px;

            .goalsLogo {
                background-image: url("/src/Assets/Images/Checkmark.png");
                background-color: white;
                border: 5px solid #03a062;
                background-size: cover;
                background-position: center;
                height: 78%;
                width: 20%;
                border-radius: 100%;
                margin-top: 30px;
                cursor: pointer;
                transition: filter 300ms;
                transition: border 300ms;
            }

            .goalsLogo:hover {
                border: 5px solid white;
                filter: drop-shadow(0 0 2em #03a062);
            }

            .goalsTextBox {
                background-color: #111;
                height: 60%;
                width: 18%;
                border-radius: 10px;
                margin-top: 30px;
                border: 1px solid #03a062;
                padding-left: 15px;

                .myGoalsLogo {
                    background-image: url("/src/Assets/Images/Checkmark.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-color: white;
                    border: 1px solid white;
                    border-radius: 100%;
                    height: 45px;
                    width: 45px;
                    float: right;
                    margin-right: 10px;
                    position: relative;
                    top: 10px;
                    cursor: pointer;
                    transition: filter 300ms;
                }

                .myGoalsLogo:hover {
                    filter: drop-shadow(0 0 2em #03a062);
                }

                h3 {
                    background-color: #111;
                    color: #03a062;
                    border: 1px solid #03a062;
                    height: 20px;
                    width: 73px;
                    border-radius: 10px;
                    padding: 7px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }

                p {
                    color: #03a062;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-shadow: 0.5px 0.5px 0 white;
                }

                .goToGoals {
                    background-color: #111;
                    color: #03a062;
                    cursor: pointer;
                    height: 48px;
                    width: 207px;
                    float: left;
                    border-radius: 10px;
                    border: 1px solid #03a062;
                    font-size: 30px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    transition: filter 300ms;
                }

                .goToGoals:hover {
                    background-color: lightgreen;
                    transition: background-color 500ms ease-in-out;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }

            .box4 {
                height: 80%;
                width: 45%;
                border-radius: 10px;
                margin-top: 30px;
                padding-left: 10px;
            }
        }
    }

    .homeFirstSection5 {
        height: 360px;
        width: 100%;

        .checkMyCV {
            background-color: #111;
            height: 10%;
            width: 100%;
            border-top: 1px solid #03a062;
            border-bottom: 1px solid #03a062;
            overflow: hidden;

            h2 {
                color: #03a062;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                position: relative;
                bottom: 15px;
                left: 10px;
            }
        }

        .goToMyCV {
            background-color: #111;
            height: 90%;
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 50px;

            .cvLogo {
                background-image: url("/src/Assets/Images/CV2.png");
                background-color: white;
                border: 5px solid #03a062;
                background-size: cover;
                background-position: center;
                height: 78%;
                width: 20%;
                border-radius: 100%;
                margin-top: 30px;
                cursor: pointer;
                transition: filter 300ms;
                transition: border 300ms;
            }

            .cvLogo:hover {
                border: 5px solid white;
                filter: drop-shadow(0 0 2em #03a062);
            }

            .cvTextBox {
                background-color: #111;
                height: 60%;
                width: 18%;
                border-radius: 10px;
                margin-top: 30px;
                border: 1px solid #03a062;
                padding-left: 15px;

                .myCVLogo {
                    background-image: url("/src/Assets/Images/CV2.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-color: white;
                    border: 1px solid white;
                    border-radius: 100%;
                    height: 45px;
                    width: 45px;
                    float: right;
                    margin-right: 10px;
                    position: relative;
                    top: 10px;
                    cursor: pointer;
                    transition: filter 300ms;
                }

                .myCVLogo:hover {
                    filter: drop-shadow(0 0 2em #03a062);
                }

                h3 {
                    background-color: #111;
                    color: #03a062;
                    border: 1px solid #03a062;
                    height: 20px;
                    width: 52px;
                    border-radius: 10px;
                    padding: 7px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                }

                p {
                    color: #03a062;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-shadow: 0.5px 0.5px 0 white;
                }

                .goToCV {
                    background-color: #111;
                    color: #03a062;
                    cursor: pointer;
                    height: 48px;
                    width: 207px;
                    float: left;
                    border-radius: 10px;
                    border: 1px solid #03a062;
                    font-size: 30px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    transition: filter 300ms;
                }

                .goToCV:hover {
                    background-color: lightgreen;
                    transition: background-color 500ms ease-in-out;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }

            .box5 {
                height: 80%;
                width: 45%;
                border-radius: 10px;
                margin-top: 30px;
                padding-left: 10px;
            }
        }
    }
}
