/*Nav:*/
.NavOptions {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.NavOptionsBar {
    display: flex;
    flex-direction: row;
}

.NavOBtn {
    animation: fadeIn 0.3s;
    background: none;
    border: none;
    color: #03a062;
    height: 44px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: filter 300ms;
}

.NavOBtn:hover {
    filter: drop-shadow(0 0 2em #03a062);
}

.NavOBtn:hover .NB {
    color: lightgreen;
}

#NBtn3 {
    width: 120px;
}

.LoginButtonFP {
    animation: fadeIn 0.3s;
    background-color: #111;
    color: #03a062;
    height: 44px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #03a062;
    font-size: 25px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: filter 300ms;
}

.LoginButtonFP:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}

/*NavAdmin:*/
.NavContainer {
    background-color: #03a062;
    height: 50px;
    width: 1242px;
    padding-top: 2px;
    padding-left: 2px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.NavContainer button {
    background-color: #111;
    color: #03a062;
    height: 48px;
    width: 207px;
    cursor: pointer;
    float: left;
    border-radius: 10px;
    border: 1px solid #03a062;
    font-size: 28px;
    font-style: italic;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: filter 300ms;
}

.NavContainer button:hover {
    background-color: lightgreen;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em #03a062);
}

.HomeIcon {
    background-image: url("/src/Assets/Images/Home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    height: 100%;
    width: 24%;
}

.HomeText {
    height: 100%;
    width: 80%;
    position: relative;
    bottom: 74px;
    left: 20px;
}

.ProfileIcon {
    background-image: url("/src/Assets/Images/Profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    height: 100%;
    width: 24%;
}

.ProfileText {
    height: 100%;
    width: 80%;
    position: relative;
    bottom: 74px;
    left: 25px;
}

.ProjectsIcon {
    background-image: url("/src/Assets/Images/Projects.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    height: 100%;
    width: 20%;
}

.ProjectsText {
    height: 100%;
    width: 80%;
    position: relative;
    bottom: 74px;
    left: 30px;
}

.VideosIcon {
    background-image: url("/src/Assets/Images/Videos.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    height: 100%;
    width: 20%;
}

.VideosText {
    height: 100%;
    width: 80%;
    position: relative;
    bottom: 74px;
    left: 25px;
}

.GoalsIcon {
    background-image: url("/src/Assets/Images/Goals.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    height: 100%;
    width: 20%;
}

.GoalsText {
    height: 100%;
    width: 80%;
    position: relative;
    bottom: 74px;
    left: 25px;
}

.CVIcon {
    background-image: url("/src/Assets/Images/CV.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
    height: 100%;
    width: 20%;
}

.CVText {
    height: 100%;
    width: 80%;
    position: relative;
    bottom: 74px;
    left: 20px;
}
