/*ProjectPage:*/
.pJPV {
    animation: fadeIn 0.3s;
    background-color: black;
    width: 100%;
    border-radius: 2px;
    box-shadow:
        0 0 30px 20px black,
        inset 0 0 30px 20px black;

    .projectPageContainer {
        animation: fadeIn 0.3s;
        background-color: #111;
        max-width: 1244px;
        width: 100%;
        border: 0.1px solid grey;
        border-radius: 2px;
        margin: auto;
        box-shadow: 0 0 30px 5px #03a062;
        overflow: hidden;

        .breadcrumb {
            background-color: lightgreen;
            height: 30px;
            overflow: hidden;
            border-bottom: 1px solid #03a062;
            display: flex;

            .breadcrumbLogo {
                background-image: url("/src/Assets/Images/Projects.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 70%;
                height: 100%;
                width: 3%;
            }

            .breadcrumbText {
                height: 100%;
                width: 97%;
                display: flex;
                justify-content: left;
                align-items: center;
                padding-left: 10px;

                h2 {
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Courier New", Courier, monospace;
                    cursor: default;

                    span {
                        transition: filter 300ms;
                        transition: background-color 500ms ease-in-out;
                    }

                    span:hover {
                        color: green;
                        filter: drop-shadow(0 0 2em #03a062);
                    }
                }
            }
        }
    }
}

/*ProjectPageAdmin:*/
.projectPageContainerAdmin {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 1244px;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumb {
        background-color: lightgreen;
        height: 30px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;

        h2 {
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 20px;
            left: 10px;
            cursor: default;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Both:*/
.projectPageTitleContainer {
    background-color: black;
    height: 120px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;

    h2 {
        color: white;
        font-size: 70px;
        position: relative;
        bottom: 40px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
}

.projectContainer {
    background-color: #333;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;

    .projectTitle {
        background-color: black;
        height: 30px;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid white;

        h3 {
            color: white;
            font-size: 25px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            position: relative;
            bottom: 23px;
            left: 10px;
        }
    }

    .projectContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .projectContentGoBackAndButtons {
            background-color: #111;
            height: 50px;
            width: 100%;
            border-bottom: 0.5px solid gray;
            display: flex;
            overflow: hidden;

            .projectGoBack {
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: left;
                align-items: center;

                .goBackBtn {
                    background-color: #111;
                    color: #03a062;
                    height: 35px;
                    width: 35px;
                    margin-left: 10px;
                    cursor: pointer;
                    border-radius: 100%;
                    border: 1px solid #03a062;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                }

                .goBackBtn:hover {
                    background-color: lightgreen;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }

            .projectButtons {
                height: 100%;
                width: 50%;
                border-top: 1px solid gray;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .projectBtn1 {
                    background-color: white;
                    background-image: url("/src/Assets/Images/GitHub.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 105%;
                    height: 35px;
                    width: 35px;
                    cursor: pointer;
                    border: 1px solid white;
                    border-radius: 50%;
                    transition: filter 300ms;
                }

                .projectBtn1:hover {
                    filter: drop-shadow(0 0 2em black);
                }

                .projectBtn2 {
                    background-color: #111;
                    background-image: url("/src/Assets/Images/Projects.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 65%;
                    height: 35px;
                    width: 35px;
                    cursor: pointer;
                    border-radius: 50%;
                    border: 1px solid #03a062;
                    transition: filter 300ms;
                }

                .projectBtn2:hover {
                    background-color: lightgreen;
                    transition: background-color 500ms ease-in-out;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }
        }

        .projectImage {
            background-color: #111;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 600px;
            width: 100%;
            border-bottom: 0.5px solid gray;
        }

        .projectType {
            height: 50px;
            width: 100%;
            border-bottom: 0.5px solid gray;
            display: flex;
            justify-content: left;
            align-items: center;

            p {
                color: #03a062;
                font-size: 20px;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                margin-left: 20px;
            }
        }

        .projectDescription {
            min-height: 300px;
            width: 100%;
            border-bottom: 0.5px solid gray;
            display: flex;
            flex-direction: column;

            .pDTitle {
                height: 10%;
                width: 100%;

                p {
                    color: #03a062;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-decoration: underline;
                    margin-left: 20px;
                }
            }

            .pDContent {
                height: 90%;
                width: 100%;

                p {
                    color: white;
                    font-size: 20px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    margin-left: 20px;
                }
            }
        }

        .projectTech {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: center;

            p {
                color: #03a062;
                font-size: 20px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                margin-left: 20px;
            }
        }
    }
}

/*ProjectPage (mobile):*/
.projectPageContainerMobile {
    animation: fadeIn 0.3s;
    background-color: #111;
    max-width: 1244px;
    width: 100%;
    border: 0.1px solid grey;
    border-radius: 2px;
    margin: auto;
    box-shadow: 0 0 30px 5px #03a062;
    overflow: hidden;

    .breadcrumbMobile {
        background-color: lightgreen;
        height: 15px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;
        display: flex;

        .breadcrumbLogoMobile {
            background-image: url("/src/Assets/Images/Projects.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            height: 100%;
            width: 3%;
        }

        .breadcrumbTextMobile {
            height: 100%;
            width: 97%;
            display: flex;
            justify-content: left;
            align-items: center;
            padding-left: 5px;

            h2 {
                font-size: 10px;
                font-style: italic;
                font-family: "Courier New", Courier, monospace;
                cursor: default;

                span {
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                }

                span:hover {
                    color: green;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }
        }
    }
}

/*ProjectPageAdmin (mobile):*/
.projectPageContainerAdminMobile {
    animation: fadeIn 0.3s;
    background-color: #111;
    width: 100%;
    border-left: 3px solid #03a062;
    border-right: 3px solid #03a062;
    overflow: hidden;

    .breadcrumbMobile {
        background-color: lightgreen;
        height: 20px;
        overflow: hidden;
        border-bottom: 1px solid #03a062;
        padding-left: 5px;
        display: flex;
        justify-content: left;
        align-items: center;

        h2 {
            font-size: 10px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            cursor: default;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Both (mobile):*/
.projectPageTitleContainerMobile {
    background-color: black;
    height: 60px;
    width: 100%;
    border-top: 1px solid #03a062;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: white;
        font-size: 40px;
        font-style: italic;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        cursor: default;
    }
}

.projectContainerMobile {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid white;

    .projectTitleMobile {
        background-color: black;
        height: 15px;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid white;
        padding-left: 5px;
        display: flex;
        align-items: center;

        h3 {
            color: white;
            font-size: 12px;
            font-style: italic;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
    }

    .projectContentMobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .projectContentGoBackAndButtonsMobile {
            background-color: #111;
            height: 25px;
            width: 100%;
            border-bottom: 0.5px solid gray;
            display: flex;
            overflow: hidden;

            .projectGoBackMobile {
                height: 100%;
                width: 50%;
                display: flex;
                justify-content: left;
                align-items: center;

                .goBackBtnMobile {
                    background-color: #111;
                    color: #03a062;
                    height: 20px;
                    width: 20px;
                    margin-left: 5px;
                    cursor: pointer;
                    border-radius: 100%;
                    border: 1px solid #03a062;
                    font-size: 10px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    transition: filter 300ms;
                    transition: background-color 500ms ease-in-out;
                }

                .goBackBtnMobile:hover {
                    background-color: lightgreen;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }

            .projectButtonsMobile {
                height: 100%;
                width: 50%;
                border-top: 1px solid gray;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .projectBtn1Mobile {
                    background-color: white;
                    background-image: url("/src/Assets/Images/GitHub.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 105%;
                    height: 20px;
                    width: 20px;
                    cursor: pointer;
                    border: 1px solid white;
                    border-radius: 50%;
                    transition: filter 300ms;
                }

                .projectBtn1Mobile:hover {
                    filter: drop-shadow(0 0 2em black);
                }

                .projectBtn2Mobile {
                    background-color: #111;
                    background-image: url("/src/Assets/Images/Projects.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 65%;
                    height: 20px;
                    width: 20px;
                    cursor: pointer;
                    border-radius: 50%;
                    border: 1px solid #03a062;
                    transition: filter 300ms;
                }

                .projectBtn2Mobile:hover {
                    background-color: lightgreen;
                    transition: background-color 500ms ease-in-out;
                    filter: drop-shadow(0 0 2em #03a062);
                }
            }
        }

        .projectImageMobile {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 200px;
            width: 100%;
            border-bottom: 0.5px solid gray;
        }

        .projectTypeMobile {
            height: 25px;
            width: 100%;
            border-bottom: 0.5px solid gray;
            display: flex;
            justify-content: left;
            align-items: center;

            p {
                color: #03a062;
                font-size: 10px;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                margin-left: 10px;
            }
        }

        .projectDescriptionMobile {
            min-height: 150px;
            width: 100%;
            border-bottom: 0.5px solid gray;
            display: flex;
            flex-direction: column;

            .pDTitleMobile {
                height: 10%;
                width: 100%;

                p {
                    color: #03a062;
                    font-size: 10px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    text-decoration: underline;
                    margin-left: 10px;
                }
            }

            .pDContentMobile {
                height: 90%;
                width: 100%;

                p {
                    color: white;
                    font-size: 10px;
                    font-style: italic;
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    margin-left: 10px;
                }
            }
        }

        .projectTechMobile {
            height: 25px;
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: center;

            p {
                color: #03a062;
                font-size: 10px;
                font-style: italic;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                margin-left: 10px;
            }
        }
    }
}
